{# TODO move style to head tag or global.css #}
<style>
  .ohsomehoney {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }
  .boxed-content {
    text-align: center;
    font-size: var(--font-xs);
    background-color: var(--blue);
    color: var(--white);
    padding: var(--space-s) var(--space-l);
    margin-top: var(--space-3xl);
  }
  .boxed-content h2 {
    margin-top: 1rem;
  }
  .boxed-content > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  .boxed-content > div > * {
    width: 100%;
  }
  .boxed-content > button {
    margin: 1rem;
    border-color: var(--white);
    color: var(--white);
  }
  .boxed-content > button:hover,
  .boxed-content > button:focus {
    color: var(--blue);
  }
</style>
<form
  id="comment-form"
  class="boxed-content center"
  method="POST"
  action="https://clarale-staticman.adaptable.app/v2/entry/hgcl/clara-le/main/comments"
>
  <h2 class="label">Leave a comment</h2>
  <input name="options[redirect]" type="hidden" value="https://clarale.com" />
  <input id="slug" name="options[slug]" type="hidden" value="" />
  <div>
    <label for="abcnamehjk">Your name</label
    ><input
      id="abcnamehjk"
      name="fields[name]"
      type="text"
      maxlength="100"
      required
    />
  </div>
  {# <div>
    <label for="abcemailhjk">Email (optional)</label
    ><input id="abcemailhjk" name="fields[email]" type="email" />
  </div> #}
  <div>
    <label for="abcmessagehjk">Message</label
    ><textarea
      id="abcmessagehjk"
      name="fields[message]"
      rows="5"
      required
    ></textarea>
  </div>
  {# H O N E Y P O T #}
  <div class="ohsomehoney" aria-hidden="true">
    <label for="name"></label>
    <input
      autocomplete="false"
      type="text"
      id="name"
      name="name"
      tabindex="-1"
      placeholder="Your name here"
    />
  </div>
  <div class="ohsomehoney" aria-hidden="true">
    <label for="email"></label>
    <input
      autocomplete="false"
      type="email"
      id="email"
      name="email"
      tabindex="-1"
      placeholder="Your e-mail here"
    />
  </div>
  <button type="submit">Submit message</button>
</form>