<script>
// COMMENT SCRIPT
// Submits comment form if not spam + alert about manual processing

const commentForm = document.getElementById("comment-form");

function submitForm (e) {
    const formData = new FormData(e.target);

    // if form submission is spam
    if (formData.get("name") !== "" || formData.get("email") !== "" || formData.get("fields[secret]").toLowerCase() !== "clara") {
      e.preventDefault();
      console.log("nope");
      return false;
    }

    // TODO how to avoid page redirect?
    return alert(
      "Your comment will be manually reviewed before being published. Please do not leave the page while your message is being sent."
    );
  }

  commentForm.addEventListener('submit', submitForm);
</script>