<script>
// COMMENT SCRIPT
// Make form submittable, detect spam, alert about manual review of comment
// More anti spam ideas: https://www.mullie.eu/how-to-prevent-form-spam/
const commentForm = document.getElementById("comment-form");

// Make javascript mandatory to submit form (anti bot)
// Remove no JS warning
const jsMessage = document.getElementById("enable-js-message").remove();
commentForm.setAttribute('action', 'https://clarale-staticman.adaptable.app/v2/entry/hgcl/clara-le/main/comments');

function submitForm (e) {
    const formData = new FormData(e.target);

    // Is submission spam?
    // Inputs that should be empty or incorrect secret question
    if (formData.get("name") !== "" || formData.get("email") !== "" || formData.get("fields[secret]").toLowerCase() !== "clara") {
      e.preventDefault();
      console.log("nope");
      return false;
    }

    // TODO how to avoid page redirect?
    return alert(
      "Your comment will be manually reviewed before being published. Please do not leave the page while your message is being sent."
    );
  }

  commentForm.addEventListener('submit', submitForm);
</script>