{# COMMENT FORM #}
{# CSS note: this is styled in _includes/layout/post.njk #}
<form
  id="comment-form"
  class="boxed-content center"
  method="POST"
  action="#"
>
  <h2 class="label">Leave a comment</h2>
  <p id="enable-js-message" class="subtle">
    <em>Enable JavaScript to submit comments.</em>
  </p>
  <input name="options[redirect]" type="hidden" value="https://clarale.com" />
  <input id="slug" name="options[slug]" type="hidden" value="{{ page.fileSlug }}" />
  <div>
    <label for="abcnamehjk">Your name</label
    ><input
      id="abcnamehjk"
      name="fields[name]"
      type="text"
      maxlength="100"
      required
    />
  </div>
  {# TODO integrate email / notification support #}
  {# <div>
    <label for="abcemailhjk">Email (optional)</label
    ><input id="abcemailhjk" name="fields[email]" type="email" />
  </div> #}
  <div>
    <label for="abcmessagehjk">Message</label
    ><textarea
      id="abcmessagehjk"
      name="fields[message]"
      rows="5"
      required
    ></textarea>
  </div>
  <div>
  <label for="secret">Hooman test: what's my first name?</label
  ><input id="secret" name="fields[secret]" type="text" />
  </div>
  {# H O N E Y P O T #}
  <div class="ohsomehoney" aria-hidden="true">
    <label for="name"></label>
    <input
      autocomplete="false"
      type="text"
      id="name"
      name="name"
      tabindex="-1"
      placeholder="Your name here"
    />
  </div>
  <div class="ohsomehoney" aria-hidden="true">
    <label for="email"></label>
    <input
      autocomplete="false"
      type="email"
      id="email"
      name="email"
      tabindex="-1"
      placeholder="Your e-mail here"
    />
  </div>
  <button type="submit">Submit message</button>
</form>