<!-- DISABLED COMMENT FORM -->
<!-- CSS note: this is styled in _includes/layout/post.njk -->
<div id="comment-form" class="boxed-content center">
  <h2 class="label">Leave a comment</h2>
  <p>Leave a comment through <a href="https://indieweb.org/webmention.io">webmentions</a> or contact me <a href="/about#contact">by email</a>. Regular comments are temporarily disabled due to technical issues.</p>
</div>