<script>
  const allNotes = document.querySelectorAll(".filtered-list  >  *");
  const filterOneSelectId = "filter-one-select";
  const filterTwoSelectId = "filter-two-select";
  const filterOneSelect = document.getElementById(filterOneSelectId);
  const filterTwoSelect = document.getElementById(filterTwoSelectId);
  // remove no JS warning if javascript is enabled
  document.getElementById("notes-filter-js-warning").remove();

  // TODO review script
  // 1. If filterTwo exists, get value of filterOne + value of filterTwo
  // 2. Remove previous filter (show all notes) before applying filters
  // 3. Create empty filteredNotes array and add notes that have filterOne OR filterTwo

  /**
  * This function is called when a user changes the value of the select
  */
  function filterNotes() { // remove previous filter (show all notes)
    allNotes.forEach((note) => note.hidden = false);

    // Take into account "All" options
    let emptyFilterOne = false;
    let emptyFilterTwo = false;
    if (filterOneSelect.value == "") {
      emptyFilterOne = true;
    }
    console.log(emptyFilterOne);
    if (filterTwoSelect.value == "") {
      emptyFilterTwo = true;
    }

    // add hidden attributes to notes that don't have the chosen category in data-tag
    allNotes.forEach((note) => { // equals true if note includes filter 1
      const includesFilterOne = note
        .getAttribute("data-tag")
        .split(',')
        .includes(filterOneSelect.value);

      // equals true is note includes filter 2
      const includesFilterTwo = note
        .getAttribute("data-tag-two")
        .split(',')
        .includes(filterTwoSelect.value);

      if (includesFilterOne && includesFilterTwo) {
        note.hidden = false;
      } else if (emptyFilterOne && includesFilterTwo) {
        note.hidden = false;
      } else if (includesFilterOne && emptyFilterTwo) {
        note.hidden = false;
      } else if (emptyFilterOne && emptyFilterTwo) {
        note.hidden = false;
      } else {
        note.hidden = true;

      }
    });
  }
</script>