<script>
  const allNotes = document.querySelectorAll(`[data-tag]`);
  const filterOneSelectId = "filter-one-select";
  const filterTwoSelectId = "filter-two-select";
  const filterOneSelect = document.getElementById(filterOneSelectId);
  const filterTwoSelect = document.getElementById(filterTwoSelectId);
  // remove no JS warning if javascript is enabled
  document.getElementById("notes-filter-js-warning").remove();

  /**
   * This function is called when a user changes the value of the select
   */
  function filterNotes(selectedOption, filterId) {
    // update URL onclick
    updateURL(selectedOption);
    // remove previous filter (show all notes)
    allNotes.forEach((note) => note.hidden = false);
    // add hidden attributes to notes that don't have the chosen category in data-tag
    if (selectedOption) {
      filterOneSelect.value = selectedOption;
      let filteredNotes = [];
      allNotes.forEach((note) => {
        if (note.dataset.tag.split(",").includes(selectedOption)) {
          filteredNotes.push(note);
        } else {
          note.hidden = true;
        }
      });
    }
  }

  // get current URL
  let currentUrl = new URL(window.location.href);
  const searchParams = new URLSearchParams(currentUrl.search);
  // apply URL filter to open page if not "All" filter selected
  if (searchParams.get("q")) {
    filterNotes(searchParams.get("q"));
  }

  // align selected category with URL
  function updateURL(selectedOption) {
    if (selectedOption) {
      currentUrl.searchParams.set("q", selectedOption);
    } else {
      // delete current query to support "All" filter
      currentUrl.searchParams.delete("q");
    }
    history.pushState({}, "", currentUrl);
  }
</script>