<!-- GET WEBMENTIONS SCRIPT -->
<!-- See: https://github.com/aaronpk/webmention.io -->
<script type="module">
  // TODO when ready to publish, replace page url with document.URL
  const pageURL = "https://clarale.com/posts/indieweb-browsing/";

  // Fetch webmention list for this page/post (JSON)
  async function fetchWebmentions() {
    const response = await fetch(`https://webmention.io/api/mentions.jf2?target=${pageURL}`);
    const json = await response.json();
    const webmentionArray = await json.children;
    return webmentionArray;
  }

  const webMentions = await fetchWebmentions();
  console.log(webMentions);
</script>
