<!-- H-CARD: for Indieweb and webmentions -->
<!-- Check validity: https://indiewebify.me/validate-h-card/ -->
<div class="hide h-card p-author">
  <a rel="me" class="u-url p-name" href="https://clarale.com/">Clara</a>
  <img class="u-photo" loading="lazy" src="/public/img/meta/profile-pic-200px.png"/>
  {% if (title === "Home") %}
  <!-- Only show the following description on homepage -->
  <div class="p-note">
    Hey, I'm Clara — a tinkerer lost in the middle of the French countryside. My website is my sandbox where I document some of my
    experiments, both digital and analog.
  </div>
  {% endif %}
  #nobridge
  Elsewhere: 
  <ul>
    <li><a rel="me" class="u-url" href="https://mastodon.roflcopter.fr/@clarale">Mastodon</a></li>
    <li><a rel="me" class="u-url" href="https://github.com/hgcl/">GitHub</a></li>
  </ul>
</div>