<script>
// NAV SCRIPT (for responsiveness) 
// Mobile: menu is squeezed down

  // Select DOM elements
  const menuButton = document.querySelector("#menu-button");
  const menuList = document.querySelector("#menu-list");

  // If JS is enabled:
  // 1) unhide #menu-button
  // 2) on mobile, show #menu-button and hide #menu-list
  // 3) on desktop, hide #menu-button and show #menu-list
  menuButton.removeAttribute("hidden");
  menuButton.classList.add("js-enabled");
  menuList.classList.add("js-enabled");

  // On click, expand the menu when collapsed, and vice versa
  menuButton.addEventListener("click", () => {
    menuButton.ariaExpanded = menuButton.ariaExpanded !== 'true'; 
  });
</script>
