<div class="post-header">
  <div class="headline-row">
    <h1 class="p-name">{{ title }}</h1>
    <!-- MICROFORMATS: https://microformats.org/ -->
    {% include 'h-card.njk' %} 
    <!-- define the canonical URL of this specific page/post -->
    <a rel="canonical" class="u-url hide" href="{{ page.url }}">Page URL</a>
    {% if icon %}
      <div aria-hidden="true" class="icon" style="mask-image: url('{{ icon }}')"></div>
    {% endif %}
  </div>
  {% if (date) or (dateModified) %}
  <!-- Only show these metadata if there is a date -->
    <p class="label divide-list center">
      {% if subtitle %}
        <span>{{ subtitle }}</span>
      {% endif %}
      {% set ampersand = joiner("&") %}
      {% if author %}
        <span>
          {% for element in author %}
            {{ ampersand() }}
            {{ element }}
          {% endfor %}
        </span>
      {% endif %}
      <!-- Prioritize `dateModifited` over `date` -->
      {% if dateModified %}
        <span class="sr-only">Updated on</span>
        <time datetime="{{ dateModified | formatDate }}" class="dt-updated">{{ dateModified | formatDate }}</time>
      {% elif date %}
        <span class="sr-only">Published on</span>
        <time datetime="{{ date | formatDate }}" class="dt-published">{{ date | formatDate }}</time>
      {% endif %}
      {% if duration %}
        <span>{{ duration }}&nbsp;min</span>
      {% endif %}
      {% if tags %}
        <span>
          <!-- TODO remove extra space -->
          {% set comma = joiner() %}
          {% for tag in tags | filterTags %}
            {{ comma() }}
            <a href="/{{ directory }}/?q={{ tag }}">{{ tag }}</a>
          {% endfor %}
          <!-- We need a second loop for tags that are filtered in a separate selector to make recipes page work. Reason: all tags are under the same "tags" frontmatter and cannot be differentiated before. -->
          {% for tag in tags | filterTags("tags-two") %}
            <a href="/{{ directory }}/?r={{ tag }}">{{ tag }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </p>
  {% endif %}
  {% if inReplyToURL %}
  <!-- in-reply-to: https://indieweb.org/in-reply-to -->
  <div class="boxed-content">
    <span>↳ In reply to:</span>
    <a class="h-cite u-in-reply-to" rel="in-reply-to" href="{{ inReplyToURL }}">{{ inReplyToURL }}</a>
  </div>  
  {% elif likeOfURL %}
  <!-- u-like-of: https://indieweb.org/like -->
  <div class="boxed-content p-summary">
    <span>♥ Liked:</span>
    <a class="h-cite u-like-of" href="{{ likeOfURL }}">{{ likeOfURL }}</a>
  </div>  
  {% endif %}
</div>
