{% macro listFilterSelector(values=[]) %}
<div class="posts-filter">
  <label for="category-select">Filter by category</label>
  <select
    id="category-select"
    aria-describedby="notes-filter-js-warning"
    onchange="filterNotes(this.value)"
    class="capitalize"
  >
    {% for item in values %}
      <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
  </select>
  <p id="notes-filter-js-warning" class="subtle">
    <em>Enable JavaScript to use filters.</em>
  </p>
</div>
{% endmacro %}
