html {
  font-size: 18px;
  --bg: white;
  --text: black;
  --primary: blue;
}

@font-face {
  font-family: "Gangster Grotesk";
  src: url("fonts/GangsterGrotesk-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gangster Grotesk";
  src: url("fonts/GangsterGrotesk-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Gangster Grotesk";
  src: url("fonts/GangsterGrotesk-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "Noto Serif";
  src: url("fonts/notoserif-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif";
  src: url("fonts/notoserif-bolditalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Noto Serif";
  src: url("fonts/notoserif-italic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Noto Serif";
  src: url("fonts/notoserif-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif";
  src: url("fonts/notoserif-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: black;
    --text: white;
    --primary: lightskyblue;
  }
}

body {
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  line-height: 1.8rem;
  color: var(--text);
  background-color: var(--bg);
  max-width: 768px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Gangster Grotesk";
  font-weight: bold;
}

h1 {
  font-size: 4rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 48px 0;
}

a {
  color: var(--primary);
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: currentColor 0px 0px 0px 2px;
  border-radius: 0.125rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
