html {
  font-size: 16px;
  --serif: "Noto Serif", serif;
  --sans-serif: "Gangster Grotesk", sans-serif;
  --color-bg: hsl(0deg, 0%, 99%);
  --color-text: hsl(0deg, 0%, 3%);
  --color-primary: hsl(47deg, 100%, 54%);
  --alt-text-opacity: 0.7;
}

body {
  font-family: var(--serif);
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  max-width: 768px;
  margin: 0 auto 4rem auto;
  padding: 0 1rem;
}

h1,
h2,
h3 {
  font-family: var(--sans-serif);
  font-weight: bold;
}

h1 {
  font-size: 3.998rem;
  line-height: 4.2rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.999rem;
  line-height: 2.3rem;
  margin: 3rem 0 1rem 0;
}

h3 {
  font-size: 1.414rem;
  line-height: 1.8rem;
  margin: 2rem 0 1rem 0;
}

p,
ul,
ol {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

.emphasis {
  font-family: var(--sans-serif);
  font-weight: normal;
  font-size: 1.414rem;
  line-height: 2rem;
  padding: 0 1rem;
}

.label {
  font-family: var(--sans-serif);
  text-transform: uppercase;
  font-weight: bold;
  font-size: smaller;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  opacity: var(--alt-text-opacity);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0 5rem 0;
}

a {
  color: var(--color-text);
  text-underline-position: under;
}

a:hover {
  animation: color-change 5s infinite;
}

a:focus {
  animation: color-change 5s infinite;
  text-decoration: none;
  outline-offset: 0.1em;
  outline: 0.1em solid;
}

@keyframes color-change {
  5% {
    color: hsl(0, 100%, 30%);
  }
  15% {
    color: hsl(41, 100%, 33%);
  }
  30% {
    color: hsl(140, 100%, 27%);
  }
  50% {
    color: hsl(230, 100%, 50%);
  }
  70% {
    color: hsl(261, 100%, 55%);
  }
  90% {
    color: hsl(320, 100%, 31%);
  }
}

.nobullet,
.nobullet > li {
  padding: 0;
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    --color-bg: hsl(0deg, 0%, 2%);
    --color-text: hsl(0deg, 0%, 100%);
    --color-text-alt: hsl(360deg, 0%, 0%);
  }

  @keyframes color-change {
    5% {
      color: hsl(0, 78%, 66%);
    }
    15% {
      color: hsl(44, 100%, 71%);
    }
    30% {
      color: hsl(140, 55%, 54%);
    }
    50% {
      color: hsl(194, 100%, 59%);
    }
    70% {
      color: hsl(273, 100%, 70%);
    }
    90% {
      color: hsl(320, 74%, 70%);
    }
  }
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 18px;
  }
  .emphasis {
    padding: 0 2rem;
    font-size: 1.999rem;
    line-height: 2.5rem;
  }
}
@media only screen and (min-width: 600px) {
  body {
    padding: 0 2rem;
  }
}
