{% extends "layout/base.njk" %}

{% block customstyles %}
{% endblock %}

{% block article %}
{# TODO add article tag and e-content in a reusable wrapper, macro? #}
{# h-entry, e-content are microformats. Don't use for styling! #}
{# Microformats docs: https://microformats.org/wiki/h-entry #}
<article class="center h-entry">
  {% include 'post-header.njk' %}
  <div class="e-content">{{ content | safe }}</div>
</article>
{% include 'comment-form.njk' %}
{# TODO inject comments #}
{% endblock %}