main {
  max-width: var(--screen-lg);
}

article {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: none;
}

#ingredients {
  font-size: smaller;
  line-height: 1.5rem;
  opacity: var(--alt-text-opacity);
}

#ingredients li span::before {
  content: "\A\2003";
}

/* Back to top */

article > a {
  margin: 2rem auto;
}

@media only screen and (min-width: 768px) {
  article > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  /* Back to top */
  article > a {
    display: none;
  }
  #ingredients {
    flex: 1 0 250px;
    align-self: flex-start;
    position: sticky;
    top: 0;
    margin: 2rem 0;
  }
}
