h2 {
  font-size: 1rem;
  margin: 2rem 0 0 0;
  /* Similar style to .label */
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
  opacity: var(--alt-text-opacity);
}

#details {
  display: flex;
  gap: 20px;
}

#details > div:first-child {
  flex-shrink: 0;
}

#details img {
  object-fit: cover;
}
