@import "/styles/reset.css";

/*--------------------------------------------------------*/
/*            Default variables and sections              */
/*--------------------------------------------------------*/

:root {
  /* Typography: augmented fourth scale (1.414) */
  --font-xs: 0.8rem;
  --font-s: 1rem; /* 16px */
  --font-m: 1.414rem; /* 23px */
  --font-l: 1.999rem; /* 32px */
  --font-xl: 2.827rem; /* 45px */
  --font-2xl: 3.998rem; /* 64px */
  /* Spacings */
  --space-2xs: 4px; /* 0.25rem */
  --space-xs: 8px; /* 0.5rem */
  --space-s: 16px; /* 1rem */
  --space-m: 24px;
  --space-l: 32px; /* 2rem */
  --space-xl: 40px;
  --space-2xl: 48px; /* 3rem */
  --space-3xl: 56px;
  --space-4xl: 64px; /* 4rem */
  --space-5xl: 80px; /* 5rem */
  --space-6xl: 96px; /* 6rem */
  --space-7xl: 112px; /* 7rem */
  /* Colors */
  --white: hsl(0deg, 0%, 98%);
  --black: hsl(0deg, 0%, 3%);
  --grey-on-black: rgb(210, 210, 210);
  --red: #ec0000;
  --blue: #0011ff;
  --yellow: #ffff33;
  /* Other */
  --alt-text-opacity: 0.7;
  --screen-sm: 370px;
  --screen-md: 768px;
  --screen-lg: 1024px;
}

html {
  font-size: 16px;
  --serif: ui-monospace, "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono",
    monospace;
  --sans-serif: ui-monospace, "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --color-bg: var(--white);
  --color-text: var(--blue);
  --color-text-alt: hsl(360deg, 0%, 0%);
  --color-subtle: var(--grey-on-black);
}

body {
  font-family: var(--serif);
  font-size: var(--font-s);
  line-height: 1.75rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 var(--space-s) var(--space-l) var(--space-s);
  flex: 1 0 auto;
}

#bg-deco {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#bg-deco #line-vertical {
  display: none;
  position: absolute;
  background: no-repeat url("/vertical-line.svg");
  background-size: auto 2100px;
  opacity: 70%;
  height: 100%;
  width: 15px;
  left: var(--space-s);
}
#bg-deco #square {
  position: absolute;
  background: left bottom / contain no-repeat url("/square.webp");
  width: 40%;
  height: 60%;
  max-width: 360px;
  min-width: 200px;
  bottom: 50px;
  left: 20px;
  transform: rotate(30deg);
}
#bg-deco #circle {
  position: absolute;
  background: top right / contain no-repeat url("/circle.webp");
  width: 40%;
  height: 50%;
  max-width: 400px;
  min-width: 180px;
  top: -60px;
  right: -20px;
}

article {
  max-width: 600px;
}

/* Nav */

nav {
  z-index: 1;
  position: relative;
  margin: var(--space-xs) var(--space-s); /* Align margin with main */
}
nav details {
  display: flex;
  gap: var(--space-m);
  align-items: center;
}
nav details > summary {
  list-style: none;
  width: fit-content;
}
nav details > summary::-webkit-details-marker {
  display: none;
}
nav summary:after {
  content: " \00BB";
}
nav details[open] summary:after {
  content: " \00AB";
}
nav ul {
  display: flex;
  column-gap: var(--space-m);
  flex-wrap: wrap;
  /* Reset */
  list-style: none;
  margin: 0;
  padding: 0;
}
#line-horizontal {
  position: relative;
  z-index: -101;
  background: no-repeat url("/horizontal-line.svg");
  background-size: 2100px auto;
  opacity: 70%;
  width: 100%;
  height: 15px;
}

/* Footer */

footer {
  margin: var(--space-s); /* Align margin with main */
}

/* Accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-to-content {
  z-index: 2;
  position: absolute;
  transform: translateY(-280%);
  transition: transform 0.3s;
  background-color: var(--color-bg);
  margin: 0 0.5rem;
}

.skip-to-content:focus {
  transform: translateY(20%);
}

/*--------------------------------------------------------*/
/*                   Shared components                    */
/*--------------------------------------------------------*/

.intro {
  max-width: 600px;
  margin-bottom: var(--space-2xl);
}

/* Images */

img {
  border-radius: var(--space-2xs);
}

figcaption {
  margin-top: var(--space-xs);
  font-style: italic;
  /* below similar to .label */
  font-size: var(--font-xs);
  line-height: 1.1rem;
}

/* Typography */

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: var(--sans-serif);
  font-weight: bold;
  text-transform: capitalize;
}
h1,
.h1 {
  font-size: var(--font-xl);
  line-height: 2.9rem;
}
h2,
.h2 {
  font-size: var(--font-l);
  line-height: 2.3rem;
  margin: 3rem 0 1rem 0;
}
h3,
.h3 {
  font-size: var(--font-m);
  line-height: 1.8rem;
  margin: 2rem 0 1rem 0;
}

p,
ul,
ol {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

.label {
  font-family: var(--sans-serif);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--font-xs);
  line-height: 1rem;
  letter-spacing: 0.1em;
  color: var(--color-subtle);
}

blockquote {
  border-left: solid 1px;
  padding-left: 1.5rem;
  margin: 2rem 0 2rem 2rem;
  color: var(--color-subtle);
}

pre {
  color: var(--color-subtle);
  overflow: auto;
}

code,
kbd {
  font-size: var(--font-xs);
}

hr {
  border: none;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  font-family: var(--sans-serif);
  font-size: 1.5rem;
}
hr::before {
  /* TODO: review*/
  content: "*\00a0*\00a0*";
}

/* ~striked-through text~ styles and accessibility */

del {
  text-decoration-thickness: 1.5px;
}
del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
del::before {
  content: " [start of strikethrough text] ";
}
del::after {
  content: " [end of strikethrough text] ";
}

/* Lists */

.nobullet,
.nobullet > li {
  padding: 0;
  list-style: none;
}

/* Details */

details summary {
  cursor: pointer;
}

/* Completed task */

.completed {
  text-decoration: line-through;
  color: var(--color-subtle);
}
.completed::after {
  content: "\00A0\2714";
}

/* Hyperlinks and buttons */
button {
  cursor: pointer;
  font: inherit;
}
button:hover,
button:focus {
  /* TODO */
}
button:focus {
  /* TODO */
}

a {
  color: var(--color-text);
  text-underline-position: under;
  transition: color 0.25s ease-out;
}
a:hover {
  /* TODO */
}
a:focus {
  /* TODO */
  outline-offset: 0.1em;
  outline: 0.1em solid;
}

/* External links */

a[href*="//"]:not([href*="clarale.com"], #webring > a)::after
{
  content: url("/external-link.svg");
  display: inline-block;
  width: 1.2rem;
  transform: translate(0.4rem, -10%);
}

/* Forms */

input[type="checkbox"] {
  margin-right: 0.25rem;
}

/* Footnotes */

.footnotes {
  margin-top: var(--space-7xl);
  font-size: var(--font-xs);
  line-height: 1.2rem;
  color: var(--color-subtle);
}
.footnotes * {
  color: var(--color-subtle);
}
.footnotes ol {
  padding: 0 0 0 1rem;
}
a[id*="user-content-fnref"] {
  color: var(--color-subtle);
  padding: 0 2px 0 3px;
}

/* Utils */

.hide {
  display: none;
}

.subtle {
  color: var(--color-subtle);
}

.subtitle {
  font-family: var(--sans-serif);
  font-size: var(--font-m);
  letter-spacing: -0.005rem;
  line-height: 2rem;
  color: var(--color-subtle);
  margin: 0.5rem 0 2rem 0;
}

/*--------------------------------------------------------*/
/*               Custom pages or elements                 */
/*--------------------------------------------------------*/

/* index.html layout */

#index {
  height: 100%;
  display: flex;
  align-items: center;
}
.h-card {
  max-width: 560px;
  position: relative;
  bottom: 0;
  font-family: var(--sans-serif);
  font-size: var(--font-l);
  line-height: 2.5rem;
}

/* posts.html layout */

#posts .post-row {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
#posts .post-row > .label {
  min-width: 3.5rem;
}
#posts-filter {
  margin: var(--space-s) 0 var(--space-2xl);
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-xs);
}
#posts-filter button,
#posts-filter details {
  border: solid 1px;
  padding: 0.1rem 0.6rem;
  border-radius: 1000px;
  margin: 0;
}
#posts-filter .selectedTag {
  color: var(--color-bg);
  background-color: var(--color-text);
  border-color: var(--color-text);
}
#posts-filter details[open] {
  border: none;
  padding: 0;
}
#posts-filter details[open] > summary {
  display: none;
}
#posts-filter details summary::marker {
  content: none;
}
#posts .details,
#media .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.post-row .subtle {
  /* font styles smaller than body */
  margin-top: 0.25rem;
  font-size: var(--font-xs);
  line-height: 1.3rem;
}

/* media.html layout */

#media ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--space-s);
  margin-bottom: var(--space-l);
}
#media li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#media img {
  margin-bottom: var(--space-xs);
  height: auto;
  aspect-ratio: 250 / 375;
  object-fit: cover;
}

/* recipes.html layout */

#recipes {
  columns: 1;
  text-transform: capitalize;
}
#recipes .label {
  margin-left: var(--space-s);
}

/* Posts only */

.post-header {
  max-width: 1024px;
  margin-bottom: var(--space-2xl);
}
.post-header h1 {
  margin: 0;
}

/*--------------------------------------------------------*/
/*                     Media-queries                      */
/*--------------------------------------------------------*/

/* Bigger than mobile */

@media only screen and (min-width: 370px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  main {
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
  }
  main,
  nav,
  footer {
    margin-left: var(--space-4xl);
    margin-right: var(--space-4xl);
  }
  #bg-deco #line-vertical {
    display: block;
  }
  h1,
  .h1 {
    font-size: var(--font-2xl);
    line-height: 4.2rem;
  }
  #recipes {
    columns: 2;
  }
  #media ul {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-gap: var(--space-xl);
    margin-bottom: var(--space-xl);
  }
}

@media only screen and (min-width: 1024px) {
  /* Sidenotes */

  .sidenote {
    position: absolute;
    left: 750px; /* max-width of article being 600px */
    padding-right: var(--space-l);
    max-width: 300px;
  }
  .sidenote > * {
    margin: 0;
  }

  .footnotes {
    border: none;
  }
  #footnote-label {
    /* Same as .sr-only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  #recipes {
    columns: 3;
  }
}
