@import "/styles/reset.css";

/*--------------------------------------------------------*/
/*            Default variables and sections              */
/*--------------------------------------------------------*/

:root {
  /* Typography: augmented fourth scale (1.414) */
  --font-xs: 0.8rem;
  --font-s: 1rem; /* 16px */
  --font-m: 1.414rem; /* 23px */
  --font-l: 1.999rem; /* 32px */
  --font-xl: 2.827rem; /* 45px */
  --font-2xl: 3.998rem; /* 64px */
  /* Spacings */
  --space-2xs: 4px; /* 0.25rem */
  --space-xs: 8px; /* 0.5rem */
  --space-s: 16px; /* 1rem */
  --space-m: 24px;
  --space-l: 32px; /* 2rem */
  --space-xl: 40px;
  --space-2xl: 48px; /* 3rem */
  --space-3xl: 56px;
  --space-4xl: 64px; /* 4rem */
  --space-5xl: 80px; /* 5rem */
  --space-6xl: 96px; /* 6rem */
  --space-7xl: 112px; /* 7rem */
  /* Colors */
  --white: hsl(0deg, 0%, 99%);
  --black: hsl(0deg, 0%, 3%);
  --grey-on-black: #b4b4b4;
  --grey-on-white: #515151;
  --red-dark: hsl(0, 100%, 30%);
  --yellow-dark: hsl(41, 100%, 33%);
  --green-dark: hsl(140, 100%, 27%);
  --blue-dark: hsl(230, 100%, 50%);
  --purple-dark: hsl(261, 100%, 55%);
  --pink-dark: hsl(320, 100%, 31%);
  --red-light: hsl(0, 78%, 65%);
  --yellow-light: hsl(44, 100%, 71%);
  --green-light: hsl(140, 55%, 54%);
  --blue-light: hsl(194, 100%, 59%);
  --purple-light: hsl(273, 100%, 70%);
  --pink-light: hsl(320, 74%, 70%);
  /* Other */
  --alt-text-opacity: 0.7;
  --screen-sm: 370px;
  --screen-md: 768px;
  --screen-lg: 1024px;
}

html {
  font-size: 16px;
  --serif: "Noto Serif", "Palatino", "Book Antiqua", "Big Caslon",
    "Goudy Old Style", serif;
  --sans-serif: "Gangster Grotesk", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --color-bg: var(--white);
  --color-text: var(--black);
  --color-subtle: var(--grey-on-white);
  --color-subtle-inverted: var(--grey-on-black);
}

body {
  font-family: var(--serif);
  font-size: var(--font-s);
  line-height: 1.75rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  padding: 0 var(--space-s);
  display: flex;
  flex-direction: column;
}

main {
  padding-bottom: var(--space-l);
  flex: 1 0 auto;
}

article {
  max-width: 600px;
}

/* Nav */

nav {
  z-index: 1;
  position: relative;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-l);
  margin-bottom: var(--space-5xl);
}

/* Accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-to-content {
  z-index: 2;
  position: absolute;
  transform: translateY(-280%);
  transition: transform 0.3s;
  background-color: var(--color-bg);
  padding: 0 0.5em;
}

.skip-to-content:focus {
  transform: translateY(20%);
}

/*--------------------------------------------------------*/
/*                   Shared components                    */
/*--------------------------------------------------------*/

.intro {
  max-width: 600px;
  margin-bottom: var(--space-4xl);
}

/* Images */

img {
  border-radius: var(--space-2xs);
}

figcaption {
  margin-top: var(--space-xs);
  font-style: italic;
  /* below similar to .label */
  font-size: var(--font-xs);
  line-height: 1.3rem;
}

/* Typography */

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: var(--sans-serif);
  font-weight: bold;
  text-transform: capitalize;
}
h1,
.h1 {
  font-size: var(--font-xl);
  line-height: 2.9rem;
}
h2,
.h2 {
  font-size: var(--font-l);
  line-height: 2.3rem;
  margin: 3rem 0 1rem 0;
}
h3,
.h3 {
  font-size: var(--font-m);
  line-height: 1.8rem;
  margin: 2rem 0 1rem 0;
}

p,
ul,
ol {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

.emphasis {
  font-family: var(--sans-serif);
  font-weight: normal;
  font-size: var(--font-m);
  line-height: 2rem;
}

.label {
  font-family: var(--sans-serif);
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
  color: var(--color-subtle);
}

blockquote {
  border-left: solid 1px;
  padding-left: 1.5rem;
  margin: 2rem 0 2rem 2rem;
  color: var(--color-subtle);
}

pre {
  color: var(--color-subtle);
  overflow: auto;
}

code,
kbd {
  font-size: smaller;
}

hr {
  border: none;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  font-family: var(--sans-serif);
  font-size: 1.5rem;
}
hr::before {
  content: "*\00a0*\00a0*";
}

/* ~striked-through text~ styles and accessibility */

del {
  text-decoration-thickness: 1.5px;
}
del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
del::before {
  content: " [start of strikethrough text] ";
}
del::after {
  content: " [end of strikethrough text] ";
}

/* Lists */

.nobullet,
.nobullet > li {
  padding: 0;
  list-style: none;
}

/* Details */

details summary {
  cursor: pointer;
}

/* Completed task */

.completed {
  text-decoration: line-through;
  color: var(--color-subtle);
}
.completed::after {
  content: "\00A0\2714";
}

/* Hyperlinks and buttons */
button {
  cursor: pointer;
  font: inherit;
  border: solid 1px;
  padding: 0.1rem 0.4rem;
  background: var(--color-bg);
  color: var(--color-text);
}
button:hover,
button:focus {
  animation: color-change 5s infinite;
}
button:focus {
  outline: 1px solid;
}

a {
  color: var(--color-text);
  text-underline-position: under;
  transition: color 0.25s ease-out;
}
a:hover {
  animation: color-change 5s infinite;
}
a:focus {
  animation: color-change 5s infinite;
  text-decoration: none;
  outline-offset: 0.1em;
  outline: 0.1em solid;
}

@keyframes color-change {
  5% {
    border-color: var(--red-dark);
    color: var(--red-dark);
  }
  15% {
    border-color: var(--yellow-dark);
    color: var(--yellow-dark);
  }
  30% {
    border-color: var(--green-dark);
    color: var(--green-dark);
  }
  50% {
    border-color: var(--blue-dark);
    color: var(--blue-dark);
  }
  70% {
    border-color: var(--purple-dark);
    color: var(--purple-dark);
  }
  90% {
    border-color: var(--pink-dark);
    color: var(--pink-dark);
  }
}

/* External links */

a[href*="//"]:not([href*="clarale.com"], #webring > a)::after
{
  content: url("/external-link.svg");
  display: inline-block;
  width: 1.2rem;
  transform: translate(0.4rem, -10%);
}

/* Forms */

input[type="checkbox"] {
  margin-right: 0.25rem;
}

/* Footnotes */

.footnotes {
  margin-top: var(--space-7xl);
  font-family: var(--sans-serif);
  font-size: small;
  line-height: 1.2rem;
  color: var(--color-subtle);
}
.footnotes * {
  color: var(--color-subtle);
}
.footnotes ol {
  padding: 0 0 0 1rem;
}
a[id*="user-content-fnref"] {
  color: var(--color-subtle);
  padding: 0 2px 0 3px;
}

/* Image composition (e.g. portfolio page) */

.image-comp {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
}

/* Image tooltip */

.tooltip {
  position: relative;
  width: 100%;
}
.tooltip a img {
  z-index: 2;
  display: none;
  position: absolute;
  right: var(--space-xs);
  bottom: -10vh;
  width: 350px;
  max-width: 30vw;
  border: 2px solid var(--color-text);
}
.tooltip a:hover img,
.tooltip a:focus img {
  display: block;
}

/* Utils */

.hide {
  display: none;
}

.subtle {
  color: var(--color-subtle);
}

.subtitle {
  font-size: var(--font-m);
  line-height: 2rem;
  opacity: var(--alt-text-opacity);
  margin: 0.5rem 0 2rem 0;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: var(--space-s) 0;
  font-size: var(--font-xs);
}
footer ul {
  display: flex;
  gap: var(--space-s);
  padding: 0;
  margin: 0;
}
footer * {
  color: var(--color-subtle);
}

/*--------------------------------------------------------*/
/*               Custom pages or elements                 */
/*--------------------------------------------------------*/

/* posts.html, books.html, movies.html layout */

#posts .post-row {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
#posts .post-row > .label {
  min-width: 3.5rem;
}
#posts .details {
  display: flex;
  flex-direction: column;
}
#posts .rating {
  display: flex;
  justify-content: flex-end;
}
#to-watch .rating {
  display: none;
}

.post-row .subtle {
  /* font styles smaller than body */
  margin-top: 0.25rem;
  font-size: smaller;
  line-height: 1.3rem;
}

#posts-filter {
  margin: var(--space-s) 0 var(--space-2xl);
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-xs);
}
#posts-filter > div {
  overflow: hidden;
  position: relative;
  width: fit-content;
}
#posts-filter > div:last-of-type {
  margin-right: var(--space-s);
}
#posts-filter input[type="radio"] {
  position: absolute;
  appearance: none;
  border: none;
  padding: 0;
  outline: 0;
}
#posts-filter label {
  cursor: pointer;
  color: var(--color-subtle);
}
#posts-filter .checkbox-label {
  font-family: var(--sans-serif);
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
  margin: var(--space-xs) 0;
}
#posts-filter .radio-label {
  display: block;
  width: 100%;
  border: solid 1px;
  padding: 0.1rem 0.6rem;
  border-radius: 1000px;
}
#posts-filter input[type="radio"]:checked + .radio-label,
#posts-filter input[type="radio"]:focus + .radio-label,
#posts-filter .radio-label:hover {
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: var(--color-bg);
}

/* recipes.html layout */

#recipes {
  columns: 1;
  text-transform: capitalize;
}
#recipes .label {
  margin-left: var(--space-s);
}

/* movies.html layout */

/* #movies .label {
  margin-left: var(--space-s);
} */

/* Posts only */

.post-header {
  max-width: 1024px;
  margin-bottom: var(--space-2xl);
}
.post-header h1 {
  margin: 0;
}

/* index.html layout */

#webring {
  text-align: center;
  font-size: var(--font-xs);
  font-family: var(--sans-serif);
}
#webring a {
  text-decoration: none;
  font-size: var(--font-s);
}
#webring span {
  display: none;
}
#index {
  padding: var(--space-s);
  display: flex;
  justify-content: center;
  height: 100%;
}
#index div {
  display: flex;
  gap: var(--space-l);
  align-items: center;
}
#index svg {
  display: none;
  fill: var(--color-text);
  flex-shrink: 0;
  transition: transform 0.5s ease;
}
#index svg:hover,
#index svg:active {
  display: block;
  animation: color-change 5s infinite;
  transform: scale(1.05);
}
#index p {
  max-width: 600px;
}

/*--------------------------------------------------------*/
/*                     Media-queries                      */
/*--------------------------------------------------------*/

/* Dark mode */

@media (prefers-color-scheme: dark) {
  html {
    --color-bg: hsl(0deg, 0%, 2%);
    --color-text: hsl(0deg, 0%, 100%);
    --color-text-alt: hsl(360deg, 0%, 0%);
    --color-subtle: var(--grey-on-black);
    --color-subtle-inverted: var(--grey-on-white);
  }

  @keyframes color-change {
    5% {
      border-color: var(--red-light);
      color: var(--red-light);
    }
    15% {
      border-color: var(--yellow-light);
      color: var(--yellow-light);
    }
    30% {
      border-color: var(--green-light);
      color: var(--green-light);
    }
    50% {
      border-color: var(--blue-light);
      color: var(--blue-light);
    }
    70% {
      border-color: var(--purple-light);
      color: var(--purple-light);
    }
    90% {
      border-color: var(--pink-light);
      color: var(--pink-light);
    }
  }
}

/* Bigger than mobile */

@media only screen and (min-width: 370px) {
  html {
    font-size: 18px;
  }
  .emphasis {
    font-size: var(--font-l);
    line-height: 2.5rem;
  }
  #webring span {
    display: inline;
  }
}
@media only screen and (min-width: 768px) {
  body {
    padding: var(--space-l) var(--space-4xl) var(--space-l) var(--space-4xl);
  }
  h1,
  .h1 {
    font-size: var(--font-2xl);
    line-height: 4.2rem;
  }
  details > *:not(summary) {
    margin-left: 2rem;
  }
  #recipes {
    columns: 2;
  }
  #index svg {
    display: block;
  }
  .tooltip img {
    bottom: -30vh;
  }
  .tooltip a img {
    right: var(--space-5xl);
  }
}

@media only screen and (min-width: 1024px) {
  /* Sidenotes */

  .sidenote {
    position: absolute;
    left: 750px; /* max-width of article being 600px */
    padding-right: var(--space-l);
    max-width: 300px;
  }

  .sidenote > * {
    margin: 0;
  }

  .footnotes {
    border: none;
  }
  #footnote-label {
    /* Same as .sr-only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  #index .h-card {
    gap: var(--space-4xl);
  }

  #recipes {
    columns: 3;
  }
}
