@import "/styles/reset.css";

/*--------------------------------------------------------*/
/*            Default variables and sections              */
/*--------------------------------------------------------*/

:root {
  /* Typography: augmented fourth scale (1.414) */
  --font-xs: 0.8rem;
  --font-s: 1rem; /* 16px */
  --font-m: 1.414rem; /* 23px */
  --font-l: 1.999rem; /* 32px */
  --font-xl: 2.827rem; /* 45px */
  --font-2xl: 3.998rem; /* 64px */
  /* Spacings */
  --space-2xs: 4px; /* 0.25rem */
  --space-xs: 8px; /* 0.5rem */
  --space-s: 16px; /* 1rem */
  --space-m: 24px;
  --space-l: 32px; /* 2rem */
  --space-xl: 40px;
  --space-2xl: 48px; /* 3rem */
  --space-3xl: 56px;
  --space-4xl: 64px; /* 4rem */
  --space-5xl: 80px; /* 5rem */
  --space-6xl: 96px; /* 6rem */
  --space-7xl: 112px; /* 7rem */
  /* Colors */
  --white: hsl(0deg, 0%, 98%);
  --black: hsl(0deg, 0%, 3%);
  --red: hsl(0deg, 100%, 46%);
  --red-light: hsl(0deg, 100%, 66%);
  --blue: hsl(236deg, 100%, 47%);
  --blue-dark: hsl(236deg, 100%, 25%);
  --yellow: hsl(50deg, 100%, 60%);
  /* Other */
  --alt-text-opacity: 0.7;
  --screen-sm: 370px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --article-width: 600px;
  --side-width: calc((100vw - var(--article-width)) / 2);
}

html {
  font-size: 16px;
  --font-mono: ui-monospace, "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --color-bg: var(--white);
  --color-text: var(--blue);
  --color-text-alt: var(--black);
  --color-accent: var(--red);
}

body {
  font-family: var(--font-mono);
  font-size: var(--font-s);
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  padding: var(--space-l) var(--space-s);
  flex: 1 0 auto; /* makes sure index.html main takes all available space */
}

header {
  width: 100%;
}

#bg-deco {
  z-index: -100;
}
#bg-deco #line-vertical {
  display: none;
  position: fixed;
  mask: no-repeat url("/vertical-line.svg");
  background-color: var(--color-accent);
  left: var(--space-s);
  width: 15px;
  height: 100%;
}
#bg-deco #square {
  position: fixed;
  background: right bottom / contain no-repeat url("/square.webp");
  width: 50%;
  height: 70%;
  max-width: 380px;
  min-width: 220px;
  bottom: -130px;
  left: -10%;
  transform: rotate(30deg);
  opacity: 80%;
}
#bg-deco #circle {
  position: fixed;
  background: top right / contain no-repeat url("/circle.webp");
  width: 40%;
  height: 50%;
  max-width: 400px;
  min-width: 180px;
  top: -60px;
  right: -20px;
}

/* Nav */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: var(--space-s);
  margin: 0 var(--space-s);
}
#menu-button {
  /* align with nav li margins */
  margin: var(--space-xs) 0;
  /* reset button styles */
  box-shadow: none;
  transform: none;
}
#menu-button::after {
  content: " \00BB";
}
#menu {
  text-align: center;
  /* Reset */
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
  margin: var(--space-xs);
}

#line-horizontal {
  position: relative;
  z-index: -101;
  mask: no-repeat url("/horizontal-line.svg");
  background-color: var(--color-accent);
  width: 100%;
  height: 15px;
}

/* Footer */

footer {
  padding: var(--space-m) var(--space-s); /* Align margin with main */
}

/* Accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-to-content {
  z-index: 2;
  position: absolute;
  transform: translateY(-280%);
  transition: transform 0.3s;
  margin: 0 0.5rem;
  padding: 0.5rem;
  /* Removes default link styles */
  border: none;
}
.skip-to-content:focus {
  transform: translateY(20%);
}

/*--------------------------------------------------------*/
/*                   Shared components                    */
/*--------------------------------------------------------*/

.intro {
  max-width: var(--article-width);
  margin-top: var(--space-xl);
}

.post-header {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-2xl);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--screen-md);
  text-align: center;
  align-items: center;
}

.posts-filter {
  display: flex;
  justify-content: center;
  gap: var(--space-s);
  flex-wrap: wrap;
  margin: var(--space-2xl) 0;
}

/* Images */

img {
  border-radius: var(--space-2xs);
}
img + img {
  margin-top: 1rem;
}

figcaption {
  margin-top: var(--space-xs);
  font-style: italic;
  /* below similar to .label */
  font-size: var(--font-xs);
}

/* Typography */

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: bold;
  text-transform: capitalize;
}
h1,
.h1 {
  font-size: var(--font-xl);
  line-height: 1.1;
  font-style: italic;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: var(--font-m);
  line-height: 1.2;
  margin: 3rem 0 1rem 0;
  text-transform: uppercase;
}
h3,
.h3 {
  font-size: var(--font-s);
  line-height: 1.4;
  margin: 2rem 0 1rem 0;
}

p,
ul,
ol {
  margin: 1rem 0;
}

li {
  margin-bottom: 0.5rem;
}

.label {
  text-transform: uppercase;
  font-size: var(--font-xs);
  line-height: 1;
  letter-spacing: 0.1em;
}

blockquote {
  border-left: solid 1px;
  padding-left: 1.5;
  margin: 2rem 0 2rem 2rem;
}

pre {
  overflow: auto;
}

code,
kbd {
  font-size: var(--font-xs);
}

hr {
  color: var(--color-text);
  border: none;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
hr::before {
  /* \002B is a plus sign */
  content: "\002B\00a0\002B\00a0\002B";
}

/* ~striked-through text~ styles and accessibility */

del {
  text-decoration-thickness: 1.5px;
}
del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
del::before {
  content: " [start of strikethrough text] ";
}
del::after {
  content: " [end of strikethrough text] ";
}

/* Lists */

.nobullet,
.nobullet > li {
  padding: 0;
  list-style: none;
}

/* Details */

details summary {
  cursor: pointer;
}

/* Completed task */

.completed {
  text-decoration: line-through;
}
.completed::after {
  content: "\00A0\2714";
}

/* Hyperlinks and buttons */
button,
.button {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  width: fit-content;
  padding: 0.1em 0.6em;
  color: var(--color-text);
  background-color: transparent;
  border: 1px solid var(--color-text);
  transition: transform 0.1s ease-in-out;
  box-shadow: 2px 2px;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: var(--color-text-alt);
  border-color: var(--color-text-alt);
  box-shadow: none;
  transform: translate(1px, 1px);
  color: var(--color-bg);
}

a {
  color: var(--color-text);
  background-image: linear-gradient(
    120deg,
    var(--color-text-alt),
    var(--color-text-alt)
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 105% 0;
  border-bottom: 0.1em solid var(--color-text);
  text-decoration: none;
  transition: background-size 0.125s ease-in;
}
a:hover,
a:focus {
  color: var(--color-bg);
  border-color: var(--color-text-alt);
  background-size: 100% 100%;
}
a:focus {
  outline-offset: 0.1em;
  outline: 0.1em solid;
}

.secondary-link,
.secondary-link:hover,
.secondary-link:focus {
  text-decoration: 0.1em underline;
  text-underline-offset: 0.3em;
  /* Reset link styles */
  background: none;
  border: none;
}
.secondary-link:hover,
.secondary-link:focus {
  color: var(--color-text-alt);
}

.tertiary-link {
  /* reset */
  color: var(--color-text);
  background: none;
  border: none;
  padding: 0;
}
.tertiary-link:hover,
.tertiary-link:focus {
  /* reset */
  background: none;
  color: var(--color-text-alt);
}

.card-link {
  border-radius: var(--space-2xs);
  overflow: hidden;
  /* Reset link styles */
  background: none;
  border: none;
}
.card-link > div {
  background-color: var(--color-accent);
  height: 100%;
}
.card-link:hover img,
.card-link:focus img {
  mix-blend-mode: screen;
  filter: grayscale(100%) contrast(105%);
}

/* External links */

a[href*="//"]:not([href*="clarale.com"])::after
{
  content: "\2197";
  margin-left: var(--space-2xs);
}

/* Forms */

input[type="checkbox"] {
  margin-right: 0.25rem;
}

/* Footnotes */

.footnotes {
  margin-top: var(--space-7xl);
  font-size: var(--font-xs);
}
a[id*="user-content-fnref"] {
  padding: 0 2px 0 3px;
}

/* Utils */

.hide {
  display: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--article-width);
}
.subtle {
  /* font styles smaller than body */
  font-size: var(--font-xs);
}
.post-row .subtle {
  display: block;
  margin-top: 0.25rem;
}
.highlight {
  background: var(--color-text);
  color: var(--color-bg);
  padding: 0.25em 0.5em;
  font-size: var(--font-xs);
  vertical-align: text-bottom;
}

/*--------------------------------------------------------*/
/*               Custom pages or elements                 */
/*--------------------------------------------------------*/

/* index.html layout */

#index {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#index p {
  max-width: var(--article-width);
}

/* posts.html layout */

#posts .post-row {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
#posts .post-row > .label {
  min-width: 3.5rem;
}

/* media.html layout */

#media ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--space-s);
  margin-bottom: var(--space-l);
}
#media li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#media a {
  height: 100%;
}
#media img {
  height: 100%;
  object-fit: cover;
}

/* recipes.html layout */

#recipes {
  columns: 320px auto;
  text-transform: capitalize;
  column-gap: var(--space-m);
}
#recipes .label {
  margin-left: var(--space-s);
}

/* recipe-post layout */

#ingredients {
  font-size: smaller;
  color: var(--color-text);
}
#ingredients li span::before {
  content: "\A\2003";
}
.h-recipe .e-instructions {
  max-width: var(--screen-md);
}

/*--------------------------------------------------------*/
/*                     Media-queries                      */
/*--------------------------------------------------------*/

/* Dark mode */

@media (prefers-color-scheme: dark) {
  html {
    --color-bg: var(--blue-dark);
    --color-text: var(--white);
    --color-text-alt: var(--yellow);
    --color-accent: var(--red-light);
  }
  #bg-deco #circle {
    background-image: url("/circle-darkmode.webp");
    opacity: 60%;
  }
  #bg-deco #square {
    background-image: url("/square-darkmode.webp");
    opacity: 60%;
  }
  a {
    border-color: var(--color-text-alt);
  }
  button,
  .button {
    border-color: var(--color-text-alt);
    box-shadow: 2px 2px var(--color-text-alt); /* only change color */
  }
  .secondary-link {
    text-decoration-color: var(--color-text-alt);
  }
}

/* Bigger than mobile */

@media only screen and (min-width: 370px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  #bg-deco #line-vertical {
    display: block;
  }
  nav {
    flex-direction: row;
  }
  main {
    padding-left: var(--space-2xl);
    padding-right: var(--space-2xl);
  }
  h1,
  text .h1 {
    font-size: var(--font-2xl);
  }
  #index p {
    font-size: var(--font-m);
  }
  #media ul {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-gap: var(--space-xl);
    margin-bottom: var(--space-xl);
  }
  .h-recipe article {
    display: flex;
    flex-direction: row;
    gap: var(--space-2xl);
  }
  #ingredients {
    flex: 1 0 250px;
    align-self: flex-start;
    position: sticky;
    top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .sidenote {
    position: absolute;
    right: 0;
    padding-right: var(--space-m);
    width: calc(var(--side-width) - var(--space-2xl));
    max-width: calc(var(--article-width) / 2);
  }
  .sidenote > * {
    margin: 0;
  }
  .footnotes {
    border: none;
  }
  #footnote-label {
    /* Same as .sr-only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
