html {
  --rating-color: grey;
  --rating-background: var(--color-text);
  --card-border: rgba(44, 44, 44, 0.5);
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2rem 1rem;
}

.media-card img {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 7px -1px;
  border: solid 0.4px var(--card-border);
  height: auto;
  aspect-ratio: 250 / 375; /* dimensions similar to what is defined in buildMediaPage.js */
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.media-card {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.media-card .content {
  opacity: var(--alt-text-opacity);
  font-family: var(--sans-serif);
}

/* Button: rest of styles in global.css */
.media-card button,
.media-card input,
#close-dialog {
  /* remove styles */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  /* new styles */
  text-decoration: underline;
}

/* Rating */

.rating {
  display: inline-block;
  font-size: 1.3rem;
  font-family: Times;
  line-height: 1;
}
.rating::before {
  content: "\2022\2022\2022\2022\2022"; /* Add 5 bullets */
  letter-spacing: 0.15rem;
  background: linear-gradient(
    90deg,
    var(--rating-background) calc(var(--rating) / 10 * 100%),
    var(--rating-color) calc(var(--rating) / 10 * 100%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Dialog */
/* HOW TO: https://allyjs.io/tutorials/accessible-dialog.html */

#dialog {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
}

#dialog:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

#dialog .dialog-content {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border: 1px solid var(--color-text);
  background: var(--color-bg);
  padding: 3rem 1rem 1rem 1rem;
}

/* Button: rest of styles above */
#close-dialog {
  fill: var(--color-text);
  height: 44px;
  width: 44px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#close-dialog:focus {
  animation: color-change 5s infinite;
  outline-offset: 0.1em;
  outline: 0.1em solid;
}

#close-dialog svg {
  width: 1rem;
  height: auto;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 1.999rem;
  line-height: 2.3rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  html {
    --card-border: rgba(255, 255, 255, 0.2);
  }
}
/* Bigger than mobile */

@media only screen and (min-width: 768px) {
  #dialog .dialog-content {
    max-width: 70%;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    height: unset;
  }
}
