body {
  max-width: var(--screen-lg);
}

article {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: none;
}

.ingredients {
  font-size: smaller;
  line-height: 1.5rem;
  opacity: var(--alt-text-opacity);
}

.ingredients li span::before {
  content: "\A\2003";
}

@media only screen and (min-width: 768px) {
  main {
    height: 100vh;
  }
  article {
    flex-direction: row;
    gap: 1rem;
  }
  .instructions {
    overflow-y: auto;
  }
  .ingredients {
    flex: 1 0 250px;
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 1024px) {
  article {
    gap: 3rem;
  }
}
