<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{#title}}{{title}} | {{/title}}Clara Le</title>
    <link rel="stylesheet" href="/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/global.css" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⬜</text></svg>"
    />
  </head>
  <body>
    <header>
      <a class="skip-to-content" href="#main">Skip to content</a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/now/">Now</a></li>
          <li><a href="/posts/">Musings</a></li>
          <li><a href="/recipes/">Recipes</a></li>
          <li><a href="/media/">Media</a></li>
        </ul>
      </nav>
    </header>
    <main id="main">
      <!-- if it has a date it's a post -->
      {{#dateCreated}}
      <div class="post-header">
        <h1>{{title}}</h1>
        <p class="label">
          <span class="sr-only">Published on</span>
          <time datetime="{{dateCreated}}">{{dateCreated}}</time>
        </p>
      </div>
      <article>{{/dateCreated}} {{> content}} {{#dateCreated}}</article>
      {{/dateCreated}}
    </main>
  </body>
</html>
