<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {{#subtitle}}
    <meta name="description" content="{{subtitle}}" />
    {{/subtitle}}
    <link rel="stylesheet" href="/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/global-20240516.css" type="text/css" />
    <style>
      /* Comment form */
      .boxed-content {
        text-align: center;
        font-size: var(--font-xs);
        background-color: var(--blue);
        color: var(--white);
        padding: var(--space-s) var(--space-l);
        margin-top: var(--space-3xl);
      }
      .boxed-content h2 {
        margin-top: 1rem;
      }
      .boxed-content > div {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;
      }
      .boxed-content > div > * {
        width: 100%;
      }
      .boxed-content > button {
        margin: 1rem;
      }
      /* Comments */
      #comments article {
        border-bottom: solid 1px var(--color-text-subtle);
        padding: 0.5rem 0;
      }
    </style>
    <meta name="viewport" content="width=device-width" />
    <meta property="og:site_name" content="Clara Le" />
    <meta property="og:title" content="{{title}}" />
    <title>{{#title}}{{title}} | {{/title}}Clara Le</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⬜</text></svg>"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/feed.xml"
      title="Clara Le"
    />
  </head>

  <body>
    <div class="deco-vert-1 bg-deco" aria-hidden="true"></div>
    <div class="deco-vert-2 bg-deco" aria-hidden="true"></div>
    <header>
      <a class="skip-to-content button" href="#main-section">Skip to content</a>
      <nav>
        <button
          class="secondary-link hide"
          id="menu-button"
          aria-haspopup="true"
        >
          Menu
        </button>
        <ul id="menu">
          <li>
            <a class="secondary-link" href="/">Home</a>
          </li>
          <li>
            <a class="secondary-link" href="/about/">About</a>
          </li>
          <li>
            <a class="secondary-link" href="/now/">Now</a>
          </li>
          <li>
            <a class="secondary-link" href="/posts/">Musings</a>
          </li>
          <li>
            <a class="secondary-link" href="/recipes/">Recipes</a>
          </li>
          <li>
            <a class="secondary-link" href="/media/">Media</a>
          </li>
          <li>
            <a class="secondary-link" href="/blogroll/">Blogroll</a>
          </li>
          <li>
            <button id="show-search" class="secondary-link">
              <div
                aria-hidden="true"
                class="icon"
                style="mask-image: url('/graphics/search-icon.svg')"
              ></div>
              Search
            </button>
          </li>
        </ul>
      </nav>
      <div class="deco-horiz-1 bg-deco" aria-hidden="true"></div>
      <!-- Search dialog -->
      <dialog id="search-dialog" class="center">
        <button class="close-button">
          <span class="sr-only">Close</span
          ><span aria-hidden="true">&#x2715;</span>
        </button>
        <form role="search">
          <label for="search-bar">Search posts</label>
          <div>
            <input
              type="search"
              id="search-bar"
              autocomplete="none"
              autocorrect="none"
              autocapitalize="none"
              spellcheck="false"
            />
            <button id="search-submit">Submit</button>
          </div>
        </form>
        <ul class="result-list nobullet post-rows"></ul>
      </dialog>
    </header>
    <!-- ID of main necessary for skip content button -->
    <main id="main-section" class="h-entry">
      <div class="post-header">
        <div class="headline-row">
          <h1 class="p-name">{{title}}{{#year}} ({{year}}){{/year}}</h1>
          {{#icon}}
          <div
            aria-hidden="true"
            class="icon"
            style="mask-image: url('{{icon}}')"
          ></div>
          {{/icon}}
        </div>
        <a rel="author" class="p-author h-card hide" href="https://clarale.com"
          >Clara Le</a
        >
        <p class="label divide-list center">
          {{#subtitle}}<span>{{subtitle}}</span>{{/subtitle}}
          <span class="sr-only">Published on</span>
          <time datetime="{{dateCreated}}" class="dt-published"
            >{{dateCreated}}</time
          >
          {{#dataTag.length}}
          <span class="post-data-tags">{{dataTag}}</span>
          {{/dataTag.length}} {{#author}}<span>{{author}}</span>{{/author}}
        </p>
      </div>
      <article class="center e-content">{{> content}}</article>
      <form
        class="boxed-content center"
        method="POST"
        action="https://staticman-31xs.onrender.com/v2/entry/hgcl/clara-le/main/comments"
        onsubmit="return alert('Your comment will be manually reviewed before being published.');"
      >
        <h2 class="label">Leave a comment</h2>
        <input
          name="options[redirect]"
          type="hidden"
          value="https://clarale.com"
        />
        <input id="slug" name="options[slug]" type="hidden" value="" />
        <div>
          <label for="name">Name</label
          ><input id="name" name="fields[name]" type="text" required />
        </div>
        <!-- <div>
          <label for="email">Email (optional)</label
          ><input id="email" name="fields[email]" type="email" />
        </div> -->
        <div>
          <label for="message">Message</label
          ><textarea id="message" name="fields[message]" required></textarea>
        </div>
        <button type="submit">Submit message</button>
      </form>
      <!-- DO NOT RENAME FOLLOWING COMMENTS LINE -->
      <section hidden>Comments injected here</section>
    </main>
    <footer>
      <a href="#main-section"
        >Back to top<span aria-hidden="true"> &uarr;</span></a
      >
      <div class="deco-horiz-2 bg-deco" aria-hidden="true"></div>
    </footer>
  </body>
  <!-- FOOTNOTES TO SIDENOTES -->
  <script>
    // Get footnotes box (ol element) and set up counter
    const footnotes = document.querySelector(".footnotes ol");
    let counter = 1;
    window.onload = () => {
      while (footnotes.childNodes.length >= counter) {
        // Generate ids numbers
        const footnoteId = "user-content-fn-" + counter;
        const refId = "user-content-fnref-" + counter;
        // Get footnote element (li element) + set class sidenote
        const footnoteEl = document.getElementById(footnoteId);
        footnoteEl.setAttribute("class", "sidenote");
        // Get the reference sup element top position
        const supEl = document.getElementById(refId).parentNode;
        const topPos = supEl.offsetTop;
        // Vertically position footnote
        footnoteEl.style.top = topPos + "px";
        counter++;
      }
    };
  </script>
  <!-- NAV SETUP -->
  <script type="module">
    import { setupNav } from "/scripts/nav.js";
    setupNav();
  </script>
  <!-- SEARCH FEATURE -->
  <script src="https://cdn.jsdelivr.net/npm/minisearch@6.3.0/dist/umd/index.min.js"></script>
  <script type="module">
    import {
      searchPosts,
      showSearchBtn,
      closeSearchBtn,
      dialogSearch,
    } from "/scripts/search.js";

    // Open and close search dialog
    showSearchBtn.addEventListener("click", () => {
      dialogSearch.showModal();
    });
    closeSearchBtn.addEventListener("click", () => {
      dialogSearch.close();
    });

    // Search all posts
    document
      .querySelector("#search-submit")
      .addEventListener("click", searchPosts);
    document
      .querySelector("#search-submit")
      .addEventListener("click", searchPosts);
  </script>
  <!-- COMMENTS -->
  <!-- TODO get slug during build to avoid using JS for comments -->
  <script type="module">
    import { slugify } from "/scripts/slugify.js";

    let slug = document.getElementById("slug");
    slug.value = slugify(location.pathname);
  </script>
</html>
