<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="A personal website where I write stuff, bookmark links, tinker around, document my experiments and do anything I feel like doing."
    />
    <link rel="stylesheet" href="/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/20231203-global.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:site_name" content="Clara Le" />
    <meta property="og:title" content="{{title}}" />
    <title>{{#title}}{{title}} | {{/title}}Clara Le</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⬜</text></svg>"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/feed.xml"
      title="Clara Le"
    />
    <!-- IndieWeb auth -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
    <link href="https://github.com/hgcl" rel="me" />
  </head>

  <body>
    <div class="deco-vert-1 bg-deco" aria-hidden="true"></div>
    <div class="deco-vert-2 bg-deco" aria-hidden="true"></div>
    <header>
      <a class="skip-to-content button" href="#main-section">Skip to content</a>
      <nav>
        <button
          class="secondary-link hide"
          id="menu-button"
          aria-haspopup="true"
        >
          Menu
        </button>
        <ul id="menu" role="menu">
          <li>
            <a class="secondary-link" role="menuitem" href="/">Home</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/about/">About</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/now/">Now</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/posts/">Musings</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/recipes/"
              >Recipes</a
            >
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/media/">Media</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/blogroll/"
              >Blogroll</a
            >
          </li>
          <li>
            <button id="show-search" class="secondary-link">
              <div
                aria-hidden="true"
                class="icon"
                style="mask-image: url('/graphics/search-icon.svg')"
              ></div>
              Search
            </button>
          </li>
        </ul>
      </nav>
      <div class="deco-horiz-1 bg-deco" aria-hidden="true"></div>
      <!-- Search dialog -->
      <dialog id="search-dialog" class="center">
        <button class="close-button">
          <span class="sr-only">Close</span
          ><span aria-hidden="true">&#x2715;</span>
        </button>
        <form role="search">
          <label for="search-bar">Search posts</label>
          <div>
            <input
              type="search"
              id="search-bar"
              autocomplete="none"
              autocorrect="none"
              autocapitalize="none"
              spellcheck="false"
            />
            <button id="search-submit">Submit</button>
          </div>
        </form>
        <ul class="result-list nobullet post-rows"></ul>
      </dialog>
    </header>
    <main id="main-section">{{> content}}</main>
    <footer>
      <div class="deco-horiz-2 bg-deco" aria-hidden="true"></div>
    </footer>
  </body>
  <!-- NAV SETUP -->
  <script type="module">
    import { setupNav } from "/scripts/nav.js";
    setupNav();
  </script>
  <!-- SEARCH FEATURE -->
  <script src="https://cdn.jsdelivr.net/npm/minisearch@6.3.0/dist/umd/index.min.js"></script>
  <script type="module">
    import {
      searchPosts,
      showSearchBtn,
      closeSearchBtn,
      dialogSearch,
    } from "/scripts/search.js";

    // Open and close search dialog
    showSearchBtn.addEventListener("click", () => {
      dialogSearch.showModal();
    });
    closeSearchBtn.addEventListener("click", () => {
      dialogSearch.close();
    });

    // Search all posts
    document
      .querySelector("#search-submit")
      .addEventListener("click", searchPosts);
    document
      .querySelector("#search-submit")
      .addEventListener("click", searchPosts);
  </script>
</html>
