<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{#title}}{{title}} | {{/title}}Clara Le</title>
    <meta name="description" content="A personal website" />
    <link rel="stylesheet" href="/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/20230611-global.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/styles/20221220-recipe-posts.css"
      type="text/css"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⬜</text></svg>"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/feed.xml"
      title="Clara Le"
    />
    <!-- Webmentions links, state that I want to receive webmentions on webmention.io -->
    <link
      rel="webmention"
      href="https://webmention.io/clarale.com/webmention"
    />
    <link rel="pingback" href="https://webmention.io/clarale.com/xmlrpc" />
  </head>

  <body>
    <div id="bg-deco" aria-hidden="true">
      <div id="line-vertical"></div>
      <div id="square"></div>
      <div id="circle"></div>
    </div>
    <header>
      <a class="skip-to-content" href="#main-section">Skip to content</a>
      <nav>
        <details>
          <summary class="simple-link">Menu</summary>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/now/">Now</a></li>
            <li><a href="/posts/">Musings</a></li>
            <li><a href="/recipes/">Recipes</a></li>
            <li><a href="/media/">Media</a></li>
            <li><a href="/blogroll/">Blogroll</a></li>
          </ul>
        </details>
      </nav>
      <div id="line-horizontal" aria-hidden="true"></div>
    </header>
    <main id="main-section" class="h-recipe">
      <div class="post-header">
        <h1 class="p-name">{{title}}</h1>
        <p class="label">
          <span class="sr-only">Published on</span>
          <time datetime="{{dateCreated}}" class="dt-published"
            >{{dateCreated}}</time
          >
          {{#durationMin}}
          <span class="sr-only">,</span>
          <span aria-hidden="true">&#47;</span>
          {{durationMin}}&nbsp;min {{/durationMin}}
          <span class="sr-only">,</span><span aria-hidden="true">&#47;</span>
          <span class="recipe-data-tags">{{dataTag}}</span>
        </p>
      </div>
      <article>{{> content}}</article>
    </main>
    <footer>
      <a href="#main-section">Back to top</a>
    </footer>
  </body>
</html>
