<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="All the recipes I bookmarked over the years"
    />
    <link rel="stylesheet" href="/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/20230930-global.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:site_name" content="Clara Le" />
    <meta property="og:title" content="{{title}}" />
    <title>{{#title}}{{title}} | {{/title}}Clara Le</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⬜</text></svg>"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/feed.xml"
      title="Clara Le"
    />
    <!-- Webmentions links, state that I want to receive webmentions on webmention.io -->
    <link
      rel="webmention"
      href="https://webmention.io/clarale.com/webmention"
    />
    <link rel="pingback" href="https://webmention.io/clarale.com/xmlrpc" />
  </head>

  <body>
    <div id="bg-deco" aria-hidden="true">
      <div id="line-vertical"></div>
      <div id="square"></div>
      <div id="circle"></div>
    </div>
    <header>
      <a class="skip-to-content" href="#main-section">Skip to content</a>
      <nav>
        <button
          class="tertiary-link hide"
          id="menu-button"
          aria-haspopup="true"
        >
          Menu
        </button>
        <ul id="menu" role="menu">
          <li>
            <a class="secondary-link" role="menuitem" href="/">Home</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/about/">About</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/now/">Now</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/posts/">Musings</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/recipes/"
              >Recipes</a
            >
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/media/">Media</a>
          </li>
          <li>
            <a class="secondary-link" role="menuitem" href="/blogroll/"
              >Blogroll</a
            >
          </li>
        </ul>
      </nav>
      <div id="line-horizontal" aria-hidden="true"></div>
    </header>
    <main id="main-section" class="h-recipe">
      <div class="post-header">
        <h1 class="p-name">{{title}}</h1>
        <p class="label">
          <span class="sr-only">Published on</span>
          <time datetime="{{dateCreated}}" class="dt-published"
            >{{dateCreated}}</time
          >
          {{#durationMin}}
          <span class="sr-only">,</span>
          <span aria-hidden="true">&#47;</span>
          {{durationMin}}&nbsp;min {{/durationMin}}
          <span class="sr-only">,</span><span aria-hidden="true">&#47;</span>
          <span class="recipe-data-tags">{{dataTag}}</span>
        </p>
      </div>
      {{#intro}}
      <p class="center">{{intro}}</p>
      {{/intro}}
      <article class="e-content">{{> content}}</article>
    </main>
    <footer>
      <a href="#main-section">Back to top &uarr;</a>
    </footer>
  </body>
  <script>
    // NAV

    const menuButton = document.querySelector("#menu-button");
    const menu = document.querySelector("#menu");

    // If JS is enabled:
    // 1) unhide #menu-button
    // 2) on mobile, make #menu-button visible and #menu hidden
    // 3) on desktop, make #menu-button hidden and #menu visible
    menuButton.classList.remove("hide");
    menuButton.classList.add("js-enabled");
    menu.classList.add("js-enabled");

    menuButton.addEventListener("click", () => {
      menu.classList.toggle("expanded"); // make visible when hidden, and vice-versa
    });
  </script>
</html>
