---
title: About
description: Because you obviously want to know everything about Clara (somehow)
icon: /public/img/meta/drawing-clara.svg
---

{% extends "layout/base.njk" %} 

{% block article %}
<article class="center h-entry">
  <div class="e-content">
  {% include 'post-header.njk' %}
    <p>Hi, I'm Clara.</p>
    <p>I'm Swiss, even though I (apparently) don't look like it.</p>
    <p>I am based in France, trying to figure out the countryside life, as well as life in general.</p>
    <p>The only "pets" I had growing up were shrimps.</p>
    <p>I'm <button type="button" id="word-swap">a tinkerer</button> — and have I said that I love cats?</p>
    <p>My first big achievement in life was snatching the top score on "Brick
 Breaker" when I was 8 — a score long-held by my mother on the family computer.</p>
    <p>I love reading sci-fi.</p>
    <p>I traveled for more than a year twice. The first time in 2017, the second in 2024 (still ongoing).</p>
    <p>My favorite food changes, but it always involves cheese.</p>
    <p>And no, I'm not dying. It's just hay fever.</p>
    <h2>A bit more about this website</h2>
    <p>
      If you want to know more about what I'm up to at the moment, have a look at my <a href="/now/">Now page</a>, <a href="/uses/">Uses page</a>, my latest <a href="/posts/">musings</a> or my <a href="/media/">media collection</a>. You can peek behind the curtain of this website by going to the <a href="/colophon/">Colophon page</a>.
    </p>
    <p>
      I consider this website to be a space where I can express myself freely in English, French and Frenglish without editing. If you happen to browse around here, you might find one-line notes, half-formed thoughts, doodles, full reviews or anything else in between.
    </p>
    <p>
      To get started, here is a range of different posts that might tell you more about me:
    </p>
    <ul>
      <li>
        <a href="/posts/44-family-gatherings/">#44 Family gatherings</a>
        (2023-12-24)
      </li>
      <li>
        <a href="/posts/a-walk-down-the-sonnenallee/"
          >A walk down the Sonnenallee</a
        >
        (2023-11-07)
      </li>
      <li>
        <a href="/posts/fermentation-behind-the-scenes/"
          >Fermentation: behind-the-scenes</a
        >
        (2023-07-27)
      </li>
      <li><a href="/posts/sicilian-notes/">Sicilian notes</a> (2023-06-02)</li>
      <li>
        <a href="/posts/29-time-for-a-break/">#29 Time for a break</a>
        (2023-04-04)
      </li>
      <li>
        <a href="/posts/a-list-of-berlin-things/">A list of Berlin things</a>
        (2022-12-31)
      </li>
      <li><a href="/posts/i-made-a-font/">I made a font</a> (2023-01-10)</li>
      <li><a href="/posts/destination/">Destination</a> (2022-02-13)</li>
      <li>
        <a href="/posts/my-quest-for-true-small-caps/"
          >My quest for true small caps</a
        >
        (2021-01-07)
      </li>
    </ul>
    <h2 id="contact">Get in touch</h2>
    <p>
      For those wanting to contact me: my Ouija board connection is unfortunately
      out of order, so you'll have to email me at
      <span class="highlight">hey&nbsp;[at]&nbsp;clarale&nbsp;[dot]&nbsp;com</span
      > or connect via <a href="https://mastodon.roflcopter.fr/@clarale">Mastodon</a>.
    </p>
  </div>
</article>
{% endblock %}

{% block script %}
<script>
  const wordSwapEl = document.getElementById("word-swap");
  const firstWord = "a tinkerer";
  const wordArray = [
    firstWord,
    "an explorer",
    "a work in progress",
    "a climber",
    "a cat lover",
    "a clumsy being",
    "a coder in training",
    "a designer",
    "a (very) bad ukulele player",
    "a fixer",
    "a blob",
  ];
  wordSwapEl.addEventListener("click", (el) => {
    if (wordArray.includes(el.target.innerText) == true) {
      const index = wordArray.indexOf(el.target.innerText);
      wordArray[index + 1]
        ? (el.target.innerText = wordArray[index + 1])
        : (el.target.innerText = firstWord);
    } else {
      el.target.innerText = firstWord;
    }
  });
</script>
{% endblock %}