---
title: Bookmarks
description: My collection of bookmarks
icon: /public/img/meta/drawing-list.svg
pagination:
    data: "bookmarkData"
    size: 1
---

{% extends "layout/base.njk" %} 
{% block head %}
<style>
  #random-link {
    margin: 0 auto;
    display: block;
  }
</style>
{% endblock %}

{% block article %}
<article class="center h-entry">
  <div class="e-content">
  {% include 'post-header.njk' %}
    <p class="intro">
      My collection of bookmarks of specific blog posts, articles, essays — spanning the web. 
    </p>
    {# LINK LIST #}
    {% for tags, items in pagination.pages | groupby("tags") | dictsort %}
      <h2 id="{{ tags | slugify }}">{{ tags }}</h2>
      <ul class="post-rows">
        {% for item in items | sort(attribute="date") %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
            <div class="subtle divide-list">{% if item.author|length %}<span>{{ item.author }}</span>{% endif %}<span>{{ item.description }}</span></div>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</article>
{% endblock %}
