---
title: Bookmarks
description: My collection of bookmarks
icon: /public/img/meta/drawing-list.svg
pagination:
    data: "bookmarkData"
    size: 1
---

{% extends "layout/base.njk" %} 
{% block head %}
<style>
  .intro { 
    margin-bottom: 3rem;
  }
  #random-link {
    margin: 0 auto;
    display: block;
  }
</style>
{% endblock %}

{% block article %}
<article class="center h-entry">
  <div class="e-content">
  {% include 'post-header.njk' %}
    <p class="intro">
      My collection of bookmarks of specific blog posts, articles, essays — spanning the web. 
    </p>
    {# LINK LIST #}
      <ul
        class="nobullet post-rows-with-label">
        {% for item in pagination.pages | reverse %}
          <li>
            <time class="label dt-duration" datetime="{{ item.date }}">{{ item.date | formatDate("short") }}</time>
            <span class="details">
              <a href="{{ item.url }}">{{ item.title }}</a>
              <span class="subtle">{{ item.description }}</span>
              <span class="label">#{{ item.tags }}</span>
            </span>
          </li>
        {% endfor %}
      </ul>
  </div>
</article>
{% endblock %}
