---
title: Home
description: Clara Le's personal website
icon: /public/img/meta/drawing-v-sign.svg
---

{% extends "layout/base.njk" %}

{% block head %}
  <style>
    #index {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #index > * {
      max-width: var(--article-width);
      margin-block: 2rem 0;
    }
    #index #latest-posts {
      width: 100%;
    }
  </style>
  {# INDIEWEB AUTH #}
  <link rel="authorization_endpoint" href="https://indieauth.com/auth"/>
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token"/>
  <link href="https://github.com/hgcl" rel="me"/>
{% endblock %}

{% block article %}
  <div id="index">
    <h1 class="sr-only">{{ title }}</h1>
    {# This div is the same as in 'post-header.njk', but with a different visible H1 #}
    <div class="post-header">
      <div class="headline-row">
        <span class="h1">Hello</span>
        <div aria-hidden="true" class="icon" style="mask-image: url('{{ icon }}')"></div>
      </div>
    </div>
    <p>
      I'm Clara and I
      <a href="/posts">write stuff</a>,
      <a href="/media/">favorite books &#47; movies</a>,
      <a href="/blogroll/">bookmark links</a>, and do anything I feel like doing
            here.
    </p>
    {# LATEST POSTS #}
    <section id="latest-posts">
      <h2>Latest musings</h2>
      <ul class="nobullet post-rows-with-label">
        {% set sortedPostList = collections.posts | reverse %}
        {% for post in sortedPostList.slice(0,3) %}
          <li>
            <time class="label dt-duration" datetime="{{ post.date }}">{{ post.date | formatDate("short") }}</time>
            <span class="details">
              <a href="{{ post.url }}">{{ post.data.title }}</a>
              <span class="subtle">{{ post.data.subtitle }}</span>
            </span>
          </li>
        {% endfor %}
      </ul>
    </section>
    {# WEBRING BUTTON #}
    <div id="webring">
      <a class="hide" href="https://xn--sr8hvo.ws/previous">Shuffle IndieWeb Webring</a>
      <a class="button" href="https://xn--sr8hvo.ws/next" target="_blank" rel="noopener noreferrer">Shuffle IndieWeb Webring</a>
    </div>
    {# H-CARD (hidden, for Indieweb) #}
    <div class="hide h-card">
      <a class="u-url" href="https://clarale.com/"></a>
      <img class="u-photo" loading="lazy" src="/public/img/meta/clara.svg"/>
      <div class="p-note">
        Hey, I'm
        <span class="p-name p-given-name">Clara</span>
        — a tinkerer lost in the middle of the French countryside. My website is my sandbox where I document some of my
        experiments, both digital and analog.
      </div>
    </div>
  </div>
{% endblock %}

{% block backtotop %}
  {# Empty block, do not show back-to-top link #}
{% endblock %}