---
title: New entry
description: A curated and non-exhaustive list of books, movies and series I loved and would recommend
icon: /public/img/meta/drawing-list.svg
---

{% extends "layout/base.njk" %}

{% block head %}
<style>
  .form {
    margin-bottom: var(--space-m);
  }
  label { 
    display: block;
    margin-bottom: var(--space-s);
 }
  input[type="text"], input[type="url"], textarea { width: 100% }
</style>
{% endblock %}

{% block article %}

<section id="new-entry">
  {% include 'post-header.njk' %}

  <form id="form-wrapper">
    <label for="category">Post category
      <select name="category" id="category" onchange="showForm()">
        <option value="">Choose an option</option>
        <option value="bookmarks">Bookmarks</option>
        <option value="posts">Musings</option>
      </select>
    </label>

    <!-- Form for bookmarks category -->
    <div id="bookmarks" class="form" hidden>
      <label>Link* <input type="url" id="link" name="link" autocomplete="off" required placeholder="https://example.com"/></label>
      <label>Title* <input type="text" id="title" name="title" autocomplete="off" required /></label>
      <label for="description">Description (up to 250 chars)
        <textarea type="text" id="description" name="description" maxlength="250"></textarea>
      </label>
      <label>Date* <input type="date" id="date" name="date" required /></label>
      <label>Tags (separated by commas) <input type="text" id="tags" name="tags" placeholder="coding, web"/></label>
      <label for="best">Is this link incredibly good? <input type="checkbox" id="best" name="best" /></label>
    </div>

     <!-- Form for musings category -->
    <div id="posts" class="form" hidden>
      <label>Title* <input type="text" id="posts-title" name="posts-title" autocomplete="off" required /></label>
      <label>Subtitle* <input type="text" id="posts-subtitle" name="posts-subtitle" autocomplete="off" required /></label>
      <label for="posts-content">Content*
        <textarea type="text" id="posts-content" name="posts-content" required ></textarea>
      </label>
      <label>Date* <input class="date" type="date" id="posts-date" name="posts-date" required /></label>
      <label>Tags (separated by commas) <input type="text" id="posts-tags" name="posts-tags" value="thought" placeholder="thought" /></label>
      <label for="posts-lang">Language
        <select name="posts-lang" id="posts-lang">
          <option value="en">English</option>
          <option value="fr">French</option>
        </select>
      </label>
    </div>
    
    <!-- Submit button -->
    <button
      id="save-file"
      type="submit"
    >
      Save note
    </button>
    <p id="status"></p>
  </form>
</section>

{% endblock %}

{% block script %}
<script>
  /**
   * Show correct form
   **/
  
  const formEls = document.querySelectorAll(".form"); 
  const categorySelect = document.getElementById("category");

  function showForm() {
    formEls.forEach((form) => {
      const isActive = form.id === categorySelect.value;

      // Hide all forms, show selected form
      form.toggleAttribute("hidden", !isActive);

      // Disable all fields, enable selected form fields
      form.querySelectorAll("input, textarea, select").forEach((field) => {
        field.disabled = !isActive;
      });
  });

    //  Set default date to today
    const dateControl = document.querySelectorAll(".date");
    dateControl.forEach((el) => el.value = new Date().toLocaleDateString("en-CA", {
      year: "numeric",
      month: "2-digit",
      day: "2-digit",
    }));
  }
</script>
<script type="module">
  /**
   * Form submission
   **/

  const form = document.getElementById("form-wrapper");

  form.addEventListener("submit", submitForm);

  async function submitForm(e) {
    e.preventDefault();

    const data = Object.fromEntries(new FormData(e.target).entries());
    console.log("Data submitted >>>", data)

    const response = await fetch("/upload", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
    });
    alert(await response.text());
  }
</script>
{% endblock %}