---
title: Recipes
description: Here is a collection of recipes I have bookmarked
icon: /img/meta/drawing-cutlery.svg
pagination:
    data: "recipeData"
    size: 1
---

{# TODO Find out why this page is also created at urls `recipes/1/` and `recipes/2/` #}

{% from 'macro/list-filter-selector.njk' import listFilterSelector %}
{% extends "layout/base.njk" %} 

{% block customstyles %}
<style>
  #recipes {
    columns: 320px auto;
    text-transform: capitalize;
    column-gap: var(--space-l);
  }
  #recipes .label {
    margin-left: var(--space-s);
    color: var(--color-text-subtle);
  }
</style>
{% endblock %}

{% block article %}
<section class="center" id="posts">
  {% include 'post-header.njk' %}
  <p class="intro">
    Here is a collection of recipes I have bookmarked. The original recipes are
    linked in the posts directly. Some of the steps and ingredients might differ
    from the original instructions to suit my preferences.
  </p>

  {# POST FILTER SELECTOR #}
  {{ listFilterSelector(['main','dessert','side','ahead','preserve','diy','spring','summer','fall','winter']) }}

  {# RECIPE LIST #}
  <ul id="recipes" class="nobullet">
    {% for item in pagination.pages %}
    <li data-tag="{{ item.dataTag }}">
      <a href="{{ item.key }}">{{ item.title }}</a>
      {% if item.duration %}<time class="label dt-duration" datetime="{{ item.duration | formatDurationAttr }}">{{ item.duration }}&nbsp;min</time>{% endif %}
    </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block script %}
  {% include 'filter-notes-script.njk' %}
{% endblock %}