---
title: Recipes
description: Here is a collection of recipes I have bookmarked
icon: /public/img/meta/drawing-cutlery.svg
pagination:
    data: "recipeData"
    size: 1
---

<!-- TODO Find out why this page is also created at urls `recipes/1/` and `recipes/2/` -->

{% from 'macro/list-filter-selector.njk' import listFilterSelector %}
{% extends "layout/base.njk" %}

{% block head %}
  <style>
    #recipes {
      columns: 320px auto;
      text-transform: capitalize;
      column-gap: var(--space-l);
    }
    #recipes li .label {
      color: var(--color-text-subtle);
    }
    #recipes li a {
      margin-right: var(--space-xs);
    }
  </style>
{% endblock %}

{% block article %}
  <section>
    {% include 'post-header.njk' %}
    <p class="intro center">
      Here is a collection of recipes I have bookmarked. The original recipes are linked in the posts directly. Some of the
      steps and ingredients might differ from the original instructions to suit my preferences.
    </p>

    <!-- POST FILTER SELECTOR -->
    {{ listFilterSelector('category',['Main','Dessert','Side','Preserve','DIY'],'season',['Spring','Summer','Fall','Winter']) }}

    <!-- RECIPE LIST -->
    <ul id="recipes" class="nobullet filtered-list">
      {% for item in pagination.pages %}
        <li data-tag="{{ item.dataTag }}" data-tag-two="{{ item.dataTag }}">
          <a href="{{ item.key }}">{{ item.title }}</a>
          {% if item.duration %}
            <time class="label dt-duration" datetime="{{ item.duration | formatDurationAttr }}">{{ item.duration }}&nbsp;min</time>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}

{% block script %}
  {% include 'filter-notes-script.njk' %}
{% endblock %}