---
title: Replies
description: My webmention replies to posts from other websites
icon: /public/img/meta/drawing-face.svg
---

{% extends "layout/base.njk" %}

{% block article %}
  <section class="center" id="posts">
    {% include 'post-header.njk' %}
    <p class="intro">
      My webmentions on other websites, from likes to replies. If you are interested in getting started with webmentions, here is the <a href="https://indieweb.org/Webmention">Indieweb wiki</a>.
    </p>

    <!-- POST LIST -->
    <ul class="nobullet post-rows-with-label filtered-list"> 
      <!-- 11ty sorts collections by date by default, just need to reverse to display as LIFO -->
      {% for post in collections.replies | reverse %}
        <li data-tag="{{ post.data.tags }}" data-tag-two="{{ post.data.lang }}">
          <time class="label dt-duration" datetime="{{ post.date }}">{{ post.date | formatDate("short") }}</time>
          <span class="details">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </span>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
