---
layout: layout/base.njk
dateModified: 2024-05-21
title: Uses
subtitle: On my desk (digital and analog)
description: A non-exhaustive list of the tools that are part of my digital and analog environments
icon: /public/img/meta/drawing-tool.svg
---

<article class="center h-entry">
  <div class="e-content">
  {% include 'post-header.njk' %}
    <p>
      This is a <a href="https://uses.tech/">Uses page</a> — a non-exhaustive list
      of the tools that are part of my digital and analog environments. Some of
      the items were carefully chosen, whereas others are included because... they
      are still working. I'll keep this list up-to-date, as a reminder to use and
      consume things as mindfully as possible.
    </p>
    <h2>Desktop</h2>
    <ul class="post-rows">
      <li>
        <a
          href="https://www.lenovo.com/us/en/p/laptops/thinkpad/thinkpad13/thinkpad-13-windows-(2nd-gen)/22tp2tx133e"
          >ThinkPad 13</a
        >
        <span class="subtle"
          ><em>Laptop.</em> What I have at the moment. It works, but not
          necessarily a favorite.</span
        >
      </li>
      <li>
        <a href="https://ubuntu.com/">Ubuntu</a>
        <span class="subtle"
          ><em>Operating system.</em> I am a recent convert, honestly easier to
          use than what I would have expected.
        </span>
      </li>
      <li>
        <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>
        <span class="subtle"
          ><em>Browser.</em> Love Mozilla (even though they are getting slightly
          too commercial to my taste). I also use the integrated password
          manager.</span
        >
      </li>
      <li>
        <a href="https://www.thunderbird.net/">Thunderbird Mail</a>
        <span class="subtle"
          ><em>Email management.</em> Not the most modern UI, but it's open source
          and does the job.</span
        >
      </li>
      <li>
        <a href="https://keepassxc.org/">KeePassXC</a>
        <span class="subtle"
          ><em>Password manager.</em> Cross-platform, ad-free, tracker-free, open
          source, and just great at its job. 100% recommend.
        </span>
      </li>
      <li>
        <a href="https://code.visualstudio.com/">Visual Studio Code</a>
        <span class="subtle"
          ><em>Code editor.</em> Honestly, I have never really used anything else,
          as it is the gold standard.</span
        >
      </li>
      <li>
        <a href="https://inkscape.org/">Inkscape</a>
        <span class="subtle"
          ><em>Vector design tool.</em> As a long-term Adobe user (who is trying
          to go towards more open source resources), I am very impressed with
          Inkscape. I think I will stick with it over Illustrator.</span
        >
      </li>
      <li>
        <a href="https://www.figma.com/">Figma</a>
        <span class="subtle"><em>Collaborative design platform</em></span>
      </li>
      <li>
        <a href="https://github.com/garglk/garglk">Gargoyle</a>
        <span class="subtle"
          ><em>Interactive fiction interpreter.</em> Ubuntu-friendly and with a
          strong attention to typography.</span
        >
      </li>
    </ul>
    <h2>Mobile</h2>
    <ul class="post-rows">
      <li>
        <a href="https://www.samsung.com/us/smartphones/galaxy-s22/"
          >Samsung Galaxy S22</a
        >
        <span class="subtle"
          ><em>Phone.</em> Beautiful vivid pictures with great zoom capabilities,
          the most modern phone I ever had. Too bad that the repairability score
          is so low.</span
        >
      </li>
      <li>
        <a href="https://f-droid.org/">F-Droid</a>
        <span class="subtle"
          ><em>Android app repository.</em> Whenever I need a simple app, F-Droid
          is my go-to to find it. It's a catalogue of FOSS apps only.</span
        >
      </li>
      <li>
        <a href="https://telegram.org/">Telegram</a>
        <span class="subtle"><em>Messaging service</em></span>
      </li>
      <li>
        <a href="https://www.whatsapp.com/">WhatsApp</a>
        <span class="subtle"
          ><em>Messaging service.</em> Using WhatsApp mostly because it is used in
          my community.</span
        >
      </li>
      <li>
        <a href="https://f-droid.org/en/packages/com.nononsenseapps.feeder/"
          >Feeder</a
        >
        <span class="subtle"
          ><em>RSS reader.</em> It's open source and works great.</span
        >
      </li>
      <li>
        <a
          href="https://play.google.com/store/apps/details?id=com.google.android.apps.maps"
          >Google Maps</a
        >
        <span class="subtle"
          ><em>Map-related things.</em> I use it to find restaurants, cafés and as
          a regular GPS. I'll need to look for an alternative at some point.</span
        >
      </li>
      <li>
        <a href="https://play.google.com/store/apps/details?id=org.plantnet"
          >PlantNet</a
        >
        <span class="subtle"
          ><em>Plant identifier.</em> What a life changer! The database of
          pictures is huge, so the identifier works really quite well. You won't
          be able to identify sub-species accurately though.</span
        >
      </li>
      <li>
        <a
          href="https://play.google.com/store/apps/details?id=com.noctuasoftware.stellarium_free"
          >Stellarium</a
        >
        <span class="subtle"
          ><em>Planetarium.</em> A magic world opens with this app on your
          phone.</span
        >
      </li>
      <li>
        <a href="https://bloodyhealth.gitlab.io/">Drip</a>
        <span class="subtle"
          ><em>Period tracker.</em> Open source, very strong privacy commitments
          (everything is kept locally on your phone), for simple tracking
          only.</span
        >
      </li>
      <li>
        <a
          href="https://play.google.com/store/apps/details?id=com.microsoft.office.officelens"
          >Microsoft Lens</a
        >
        <span class="subtle"><em>PDF scanner</em></span>
      </li>
    </ul>
    <h2>Web services</h2>
    <ul class="post-rows">
      <li>
        <a href="https://nextcloud.com/">Nextcloud</a>
        <span class="subtle"
          ><em>Cloud file storage.</em> Very powerful Google Drive alternative, I
          use the cloud for file / calendar / contact / task management and
          short-term storage.</span
        >
      </li>
      <li>
        <a href="https://framapad.org/abc/en/">Framapad</a>
        <span class="subtle"
          ><em>Collaborative text editor.</em> A very good Google Docs open source
          alternative.</span
        >
      </li>
      <li>
        <a href="https://github.com/">GitHub</a>
        <span class="subtle"><em>Code host</em></span>
      </li>
      <li>
        <a href="https://languagetool.org/">LanguageTool</a>
        <span class="subtle"
          ><em>Style and spell checker.</em> It's open source and works crazily
          well.</span
        >
      </li>
      <li>
        <a href="https://openlibrary.org/">Open Library</a>
        <span class="subtle"
          ><em>Book tracker.</em> I am just so over these commercial book tracker
          platforms. Open Library doesn't have the best UI (or UX), but it does
          the job. It's also quite easy to add new books to the platform.</span
        >
      </li>
      <li>
        <a href="https://letterboxd.com/">Letterboxd</a>
        <span class="subtle"
          ><em>Movie tracker.</em> Letterboxd is a private company, but so far, it
          doesn't feel like it treats its users as products (is this wishful
          thinking?). It is free (and will remain free), with no ads, plus I like
          its light social network layer.</span
        >
      </li>
    </ul>
    <h2>Media</h2>
    <ul class="post-rows">
      <li>
        <a href="https://productz.com/en/benq-tw535/p/DDNgx">BenQ TW535</a>
        <span class="subtle"
          ><em>Projector.</em> Good image quality, relatively silent.</span
        >
      </li>
      <li>
        <a
          href="https://uk.celexon.com/celexon-screentripod-economy-white-edition"
          >Celexon Tripod Economy</a
        >
        <span class="subtle"
          ><em>Projection screen.</em> Very big foldable projection screen.
          Theoretically portable, but it is insanely heavy. You also need to be
          tall to set it up more easily.</span
        >
      </li>
      <li>
        <a
          href="https://edifier-online.com/us/en/speakers/r1280db-bluetooth-bookshelf-speakers-built-in-amplifier-coaxial-optical"
          >EDIFIER R1280DB</a
        >
        <span class="subtle"
          ><em>Powered Bluetooth Speakers.</em> Active speakers that work with
          turntables and also connect via Bluetooth. Beautiful wooden-style
          cover.</span
        >
      </li>
      <li>
        <a
          href="https://www.denon.com/en-us/product/shop-turntables/dp-300f/136724.html"
          >DENON DP-300F</a
        >
        <span class="subtle"><em>Automatic turntable</em></span>
      </li>
      <li>
        <a href="https://us.kobobooks.com/products/kobo-aura-h2o-edition-2"
          >Kobo Aura H2O</a
        >
        <span class="subtle"
          ><em>E-reader.</em> I had this e-reader for years and I am very happy
          with it.</span
        >
      </li>
      <li>
        <a
          href="https://www.akg.com/Headphones/Over-ear%20%26%20On-ear/AKG+Y500+Wireless.html"
          >AKG Y500</a
        >
        <span class="subtle"
          ><em>Headphones.</em> Not the comfiest headphones, but can be used wired
          and wireless. The squishy thingies are getting old.</span
        >
      </li>
    </ul>
    <h2>Other gadgets</h2>
    <ul class="post-rows">
      <li>
        <a href="https://www.laciestorage.com/Rugged-Mini.asp"
          >LaCie Rugged Mini</a
        >
        <span class="subtle"
          ><em>Portable hard drive.</em> Compact and sturdy hard drive, reliable
          (so far).</span
        >
      </li>
      <li>
        <a href="https://www.huion.com/pen_display/Kamvas/kamvas-16-2021.html"
          >HUION Kamvas 16 (2021)</a
        >
        <span class="subtle"
          ><em>Pen display.</em> I don't use it as much as I'd like to, but it
          works great.</span
        >
      </li>
    </ul>
    <h2>Kitchen</h2>
    <ul class="post-rows">
      <li>
        <a
          href="https://www.messermeister.com/products/oliva-elite-stealth-chefs-knife"
          >Messermeister Oliva Elite Chef's Knife</a
        >
        <span class="subtle"
          ><em>Chef's knife.</em> I use this knife for everything. I love the
          smooth feel of the handle.</span
        >
      </li>
      <li>
        <a
          href="https://www.messermeister.com/products/oliva-elite-9-inch-scalloped-bread-knife"
          >Messermeister Oliva Elite Bread Knife</a
        >
        <span class="subtle"
          ><em>Bread knife.</em> Best bread knife I ever had.</span
        >
      </li>
      <li>
        <a
          href="https://www.lecreuset.fr/fr_FR/p/cocotte-ronde-en-fonte-emaillee/CI1177.html?dwvar_CI1177_color=volcanic&dwvar_CI1177_size=24cm-l4-2"
          >Le Creuset round Cocotte
        </a>
        <span class="subtle"
          ><em>Cast iron pot.</em> I have the older version of this cocotte. It's
          a classic that works great.
        </span>
      </li>
      <li>
        <a href="https://www.marcato.it/en/product/manual_machines/atlas-150"
          >Marcato Atlas 150</a
        >
        <span class="subtle"
          ><em>Manual pasta maker.</em> A high-quality, manual pasta maker.</span
        >
      </li>
    </ul>
    <h2>Travel & sport</h2>
    <ul class="post-rows">
      <li>
        <a
          href="https://www.patagonia.com/product/womens-torrentshell-3l-rain-jacket/85246.html"
          >Patagonia Torrentshell Rain Jacket</a
        >
        <span class="subtle"
          ><em>Rain jacket.</em> Great waterproof jacket for cycling or
          hiking.</span
        >
      </li>
      <li>
        <a href="https://chromeindustries.com/products/bravo-4-0-backpack"
          >Chrome Industries Bravo Backpack</a
        >
        <span class="subtle"
          ><em>Waterproof backpack.</em> I have one of the older versions of this
          backpack. It's big, waterproof and has a foldable top. The only downside
          is that it is already quite heavy when empty.</span
        >
      </li>
      <li>
        <a href="https://www.scarpa.co.uk/climbing-shoes/veloce-wmn/"
          >SCARPA Veloce WMN</a
        >
        <span class="subtle"
          ><em>Climbing shoes.</em> Super soft and comfy, love them. The only
          problem is that the sole gets used faster.
        </span>
      </li>
      <li>
        <a href="https://www.scarpa.co.uk/climbing-shoes/vapour-v-wmn/"
          >SCARPA Vapour V WMN</a
        >
        <span class="subtle"
          ><em>Climbing shoes.</em> A great all-rounder climbing shoe. I have
          sensitive toes and need the extra toe-space that this shoe allows
          for.</span
        >
      </li>
    </ul>
  </div>
</article>