{% macro listFilterSelector(filterOneName='', filterOne=[], filterTwoName='', filterTwo=[]) %}
  <div class="posts-filter">
    <div>
      <label for="filter-one-select">Filter by {{ filterOneName }}</label>
      <select id="filter-one-select" aria-describedby="notes-filter-js-warning" onchange="filterNotes()" class="capitalize">
        <option value="">All</option>
        {% for item in filterOne %}
          {# `lower` filter makes entire sting lowercase #}
          <option value="{{ item | lower }}">{{ item }}</option>
        {% endfor %}
      </select>
    </div>
    {% if filterTwo.length %}
      <div>
        <label for="filter-two-select">Filter by {{ filterTwoName }}</label>
        <select id="filter-two-select" aria-describedby="notes-filter-js-warning" onchange="filterNotes()" class="capitalize">
          <option value="">All</option>
          {% for item in filterTwo %}
            <option value="{{ item | lower }}">{{ item }}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
    <p id="notes-filter-js-warning" class="subtle">
      <em>Enable JavaScript to use filters.</em>
    </p>
  </div>
{% endmacro %}